<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Таблица новостей</title>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.png">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/js/superfish/css/megafish.css" media="screen" type="text/css">
    <link rel="stylesheet" href="/js/superfish/css/superfish.css" media="screen" type="text/css">
    <link rel="stylesheet" href="/css/style.min.css" type="text/css">
    <link rel="stylesheet" href="/css/light.min.css" type="text/css">
    <link rel="stylesheet" href="/css/responsive.min.css" type="text/css">
    <link rel="stylesheet" href="/css/admin/adminStyle.css"> <!-- Resource style -->
</head>
<body class="multi-page">

<div id="wrapper" class="wrapper">
    <!-- HEADER -->
    <div th:replace="templates :: headerAdmin"></div>

    <h2 class="text-center padding5p page_header2">Добавлять новости можно только через контент</h2>

    <div id="sample" class="container">
        <div th:each="topic : ${newsOfFaculty}">
            <div class="col-md-4" style="margin-bottom: 50px">
                <div class="product-thumb">
                    <form th:action="@{/admin/table/newsOfFaculty/update/submit}" th:object="${item}" method="post">
                        <li><a class="cd-signin">  <img class="img-responsive" th:id="${topic.getId()}" th:src="@{'/admin/picture/' + ${topic.getIdPicture()}}" alt=""></a></li>
                        <li><a class="cd-signin"><p th:id="${topic.getId()}" th:src="@{'/admin/picture/' + ${topic.getIdPicture()}}" th:value="${topic.getHeading()}" th:utext="${topic.getHeading()}"></p></a></li>
                    </form>
                    <script th:inline="javascript">
                        document.body.onclick = function(e) {
                            var elem = e ? e.target : window.event.srcElement;
                            while (!(elem.id || (elem == document.body))) elem = elem.parentNode;
                            if (!elem.id) return; else id = elem.id;
                            var rightPart;
                            var srcImg=document.getElementById(id).getAttribute("id");
                            /*<![CDATA[*/
                            /*[# th:each="top : ${newsOfFaculty}"]*/
                            rightPart = /*[[@{${top.getId()}}]]*/ null;
                            if (srcImg == rightPart) {
                                document.getElementById("Picture").src = /*[[@{'/admin/picture/' + ${top.getIdPicture()}}]]*/ null;
                                document.getElementById("idPicture").value = /*[[@{${top.getIdPicture()}}]]*/ null;
                                document.getElementById("id").value = /*[[@{${top.getId()}}]]*/ null;
                                document.getElementById("dateStringLocalDate").value = /*[[@{${top.getDate().toLocalDate()}}]]*/ null;
                                document.getElementById("heading").value = /*[[@{${top.getHeading()}}]]*/ null;
                                document.getElementById("text").value = /*[[@{${top.getText()}}]]*/ null;
                                document.getElementById("headingStyles").value = /*[[@{${top.getHeadingStyles()}}]]*/ null;
                                document.getElementById("textStyles").value = /*[[@{${top.getTextStyles()}}]]*/ null;
                                document.getElementById("dateStyles").value = /*[[@{${top.getDateStyles()}}]]*/ null;
                                document.getElementById("pictureStyles").value = /*[[@{${top.getPictureStyles()}}]]*/ null;
                                document.getElementById("del").href = /*[[@{'/admin/table/newsOfFaculty/delete/id=' + ${top.getId()}}]]*/ null;
                            }
                            /*[/]*/
                            /*]]>*/
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>

    <div class="cd-user-modal1">
        <div class="cd-user-modal-container1">
            <form th:action="@{/admin/table/newsOfFaculty/update/submit}" th:object="${item}" method="post" enctype="multipart/form-data">
                <div class="col-md-4 left" style="padding: 10px 10px 10px;overflow: hidden;"> <a><img id="Picture"  alt=""></a>
                    <p>Идентификатор картинки</p>
                    <input id="idPicture" name="idPicture"/>
                    <input type="file" accept=".jpg, .jpeg, .png" id="pictureFileMultipart" name="pictureFileMultipart"/>
                </div>
                <div class="col-md-4 left" style="padding: 10px 10px 10px;">
                    <p>Идентификатор</p>
                    <input id="id" class="menuItemTables" name="id" readonly>
                </div>
                <div class="col-md-4  left" style="padding: 10px 10px 10px;">
                    <p>Дата создания</p>
                    <input type="date" id="dateStringLocalDate" class="menuItemTables" name="dateStringLocalDate">
                </div>
                <div class="col-md-8 left" style="padding: 10px 10px 10px;">
                    <p>Заголовок</p>
                    <textarea cols="70" id="heading" class="menuItemTables" name="heading"></textarea>
                </div>
                <div class="col-md-8 left" style="padding: 10px 10px 10px;">
                    <p>Текст</p>
                    <textarea cols="70" id="text" class="menuItemTables" name="text"></textarea>
                </div>
                <div class="col-md-4 left" style="padding: 10px 10px 10px;">
                    <p>Стили для заголовка</p>
                    <textarea id="headingStyles" class="menuItemTables" name="headingStyles"></textarea>
                </div>
                <div class="col-md-4 left" style="padding: 10px 10px 10px;">
                    <p>Стили для текста</p>
                    <textarea id="textStyles" class="menuItemTables" name="textStyles"></textarea>
                </div>
                <div class="col-md-4 left" style="padding: 10px 10px 10px;">
                    <p>Стили для даты</p>
                    <textarea id="dateStyles" class="menuItemTables" name="dateStyles"></textarea>
                </div>
                <div class="col-md-4 left" style="padding: 10px 10px 10px;">
                    <p>Стили для картинки</p>
                    <textarea id="pictureStyles" class="menuItemTables" name="pictureStyles"></textarea>
                </div>
                <div class="col-md-4 left" style="padding: 10px 10px 10px;">
                    <p>Действие</p>
                    <a id="del" style="color: red;" class="cd-read-more">Удалить</a>
                </div>
                <input id="buttonUpdateMenuItem" class="menuItemTables" type="submit" value="Изменить"><br><br><br>
            </form>
        </div>
        <div class="close-btn fa fa-times"></div>
    </div>
    <!-- Pagination -->
    <div class="page_nav" th:object="${pageCount}">

        <a th:href="@{'/admin/table/newsOfFaculty/update/page/1'}" style="float: left;">
            <i class="fa fa-angle-left"></i>
            <i class="fa fa-angle-left"></i>
        </a>

        <a th:href="@{'/admin/table/newsOfFaculty/update/page/' + ${firstPage - 1}}" style="float: left;">
            <i class="fa fa-angle-left"></i>
        </a>

        <a style="background: #3c689e; float: left;" id="firstPage" th:object="${firstPage}" th:utext="${firstPage}" th:href="@{'/admin/table/newsOfFaculty/update/page/' + ${firstPage}}" class="active"></a>

        <div style="float: left;" th:if="${pageCount - firstPage - 1 >= 0}">
            <a id="secondPage" th:utext="${firstPage + 1}" th:href="@{'/admin/table/newsOfFaculty/update/page/' + ${firstPage + 1}}"></a>
        </div>

        <div style="float: left;" th:if="${pageCount - firstPage - 2 >= 0}">
            <a id="thirdPage" th:utext="${firstPage + 2}" th:href="@{'/admin/table/newsOfFaculty/update/page/' + ${firstPage + 2}}"></a>
        </div>

        <div style="float: left;" th:if="${pageCount > firstPage + 2}">
            <a style="float: left;" class="no-active">...</a>
            <a style="float: left;" th:utext="${pageCount}" th:href="@{'/admin/table/newsOfFaculty/update/page/' + ${pageCount}}"></a>
        </div>

        <div style="float: left;" th:if="${pageCount >= firstPage + 1}">
            <a th:href="@{'/admin/table/newsOfFaculty/update/page/' + ${firstPage + 1}}" style="float: left;">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>

        <div style="float: left;" th:if="${pageCount < firstPage + 1}">
            <a th:href="@{'/admin/table/newsOfFaculty/update/page/' + ${pageCount}}" style="float: left;">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>

        <a style="float: left;" th:href="@{'/admin/table/newsOfFaculty/update/page/' + ${pageCount}}">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
    <!-- End Pagination -->
</div>
</div>

<!-- Javascript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/classie.min.js"></script>
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous" defer></script>
<script src="/js/script.min.js"></script>
<script src="/js/modal.min.js"></script>
</body>
</html>