<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Редактор новостей</title>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.png">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/js/superfish/css/megafish.css" media="screen" type="text/css">
    <link rel="stylesheet" href="/js/superfish/css/superfish.css" media="screen" type="text/css">
    <link rel="stylesheet" href="/css/style.min.css" type="text/css">
    <link rel="stylesheet" href="/css/light.min.css" type="text/css">
    <link rel="stylesheet" href="/css/responsive.min.css" type="text/css">
    <link rel="stylesheet" href="/css/admin/adminStyle.css"> <!-- Resource style -->

</head>
<body class="multi-page">

<div id="wrapper" class="wrapper">
    <!-- HEADER -->
    <div th:replace="templates :: headerAdmin"></div>

    <div id="sample" class="cd-user-modal"> <!-- this is the entire modal form, including the background -->

        <div class="cd-user-modal-container"> <!-- this is the container wrapper -->
            <ul class="cd-switcher">
                <li><a style="font-size: 26px;left: 50%;position: relative;" href="#0">Добавить новость</a></li>
                <!--<li><a href="#0">New account</a></li>-->
            </ul>
            <div id="cd-login"> <!-- log in form -->
                <form th:action="@{/admin/content/news/add/submit}" th:object="${newFaculty}" method="post" class="cd-form" enctype="multipart/form-data">
                     <fieldset>
                         <label class="image-replace cd-email" for="signin-email">Заголовок</label>
                         <textarea name="heading" th:field="*{heading}" style="height: 60px; width: 100%;"
                                   class="full-width has-padding has-border" id="signin-email" type="email"
                                   placeholder="Загаловок"></textarea>


                         <label class="image-replace cd-password" for="signin-password">Текст</label>
                         <textarea name="text" th:field="*{text}" style="height: 250px; width: 100%;"
                                   class="full-width has-padding has-border" id="signin-password" type="text"
                                   placeholder="Текст"></textarea>
                         <p class="fieldset black_p">
                            <input type="date" th:value="${date}" id="dateStringLocalDate" name="dateStringLocalDate" style="height: 60px; width: 100%;" class="full-width has-padding has-border">
                        </p>

                        <p class="fieldset black_p">
                            <input type="file" accept=".jpg, .jpeg, .png" id="pictureFile" name="pictureFile" style="height: 60px; width: 100%;" class="full-width has-padding has-border">
                        </p>
                        <p class="fieldset black_p">
                            <button class="full-width" type="submit">Добавить</button>
                        </p>
                    </fieldset>
                </form>
            </div>
        </div> <!-- cd-user-modal-container -->
    </div> <!-- cd-user-modal -->
</div>

<!-- Javascript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/classie.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous" defer></script>
<script src="/js/script.min.js"></script>
</body>
</html>
