<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Таблица лучших студентов</title>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.png">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/js/superfish/css/megafish.css" media="screen" type="text/css">
    <link rel="stylesheet" href="/js/superfish/css/superfish.css" media="screen" type="text/css">
    <link rel="stylesheet" href="/css/style.min.css" type="text/css">
    <link rel="stylesheet" href="/css/light.min.css" type="text/css">
    <link rel="stylesheet" href="/css/responsive.min.css" type="text/css">
    <link rel="stylesheet" href="/css/admin/adminStyle.css"> <!-- Resource style -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Modernizer -->
    <script src="/js/modernizr.custom.js"></script>

</head>
<body class="multi-page">

<div id="wrapper" class="wrapper">
    <!-- HEADER -->
    <div th:replace="templates :: headerAdmin"></div>

    <h2 class="text-center padding5p page_header2">Добавлять студентов можно только через контент</h2>

    <div id="sample" class="container">
        <div th:each="student : ${bestStudents}">
            <div class="col-md-4" style="margin-bottom: 50px">
                <div class="product-thumb">
                    <form th:action="@{/admin/table/bestStudent/update/submit}" th:object="${item}" method="post" enctype="multipart/form-data">
                        <li><a class="cd-signin">  <img class="img-responsive" th:id="@{'/admin/picture/' + ${student.getIdPicture()}}" th:src="@{'/admin/picture/' + ${student.getIdPicture()}}" alt=""></a></li>
                    </form>
                   <li><a class="cd-signin"><input th:id="@{'student' + ${student.getId()}}" th:src="@{'/admin/picture/' + ${student.getIdPicture()}}" value="Настройки" type="submit"></a></li>
                    <script th:inline="javascript">
                        document.body.onclick = function(e) {
                            var elem = e ? e.target : window.event.srcElement;
                            while (!(elem.id || (elem == document.body))) elem = elem.parentNode;
                            if (!elem.id) return; else id = elem.id;
                            var rightPart;
                            var srcImg=document.getElementById(id).getAttribute("src");
                            /*<![CDATA[*/
                            /*[# th:each="stud : ${bestStudents}"]*/
                            rightPart = /*[[@{'/admin/picture/' + ${stud.getIdPicture()}}]]*/ null;
                            if (srcImg == rightPart) {
                                document.getElementById("Picture").src = /*[[@{'/admin/picture/' + ${stud.getIdPicture()}}]]*/ null;
                                document.getElementById("idPicture").value = /*[[@{${stud.getIdPicture()}}]]*/ null;
                                document.getElementById("id").value = /*[[@{${stud.getId()}}]]*/ null;
                                document.getElementById("characteristic").value = /*[[@{${stud.getCharacteristic()}}]]*/ null;
                                document.getElementById("groupInUniversity").value = /*[[@{${stud.getGroupInUniversity()}}]]*/ null;
                                document.getElementById("name").value = /*[[@{${stud.getName()}}]]*/ null;
                                document.getElementById("url").value = /*[[@{${stud.getUrl()}}]]*/ null;
                                document.getElementById("characteristicStyles").value = /*[[@{${stud.getCharacteristicStyles()}}]]*/ null;
                                document.getElementById("groupInUniversityStyles").value = /*[[@{${stud.getCharacteristicStyles()}}]]*/ null;
                                document.getElementById("nameStyles").value = /*[[@{${stud.getGroupInUniversityStyles()}}]]*/ null;
                                document.getElementById("pictureStyles").value = /*[[@{${stud.getPictureStyles()}}]]*/ null;
                                document.getElementById("del").href = /*[[@{'/admin/table/bestStudent/delete/id=' + ${stud.getId()}}]]*/ null;
                            }
                            /*[/]*/
                            /*]]>*/
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>

    <div class="cd-user-modal1">
        <div class="cd-user-modal-container1">
            <form th:action="@{/admin/table/bestStudent/update/submit}" th:object="${item}" method="post" enctype="multipart/form-data">
                <div class="col-md-4 left" style="padding: 10px 10px 10px;"> <a><img id="Picture" class="img-responsive" alt=""/></a>
                    <p>Идентификатор картинки</p>
                    <input id="idPicture" name="idPicture"/>
                    <input type="file" accept=".jpg, .jpeg, .png" id="pictureFileMultipart" name="pictureFileMultipart"/>
                </div>
                <div class="col-md-4 left" style="padding: 10px 10px 10px;">
                    <p>Идентификатор</p>
                    <input id="id" class="menuItemTables" name="id" readonly>
                </div>
                <div class="col-md-4 left" style="padding: 10px 10px 10px;">
                    <p>Группа</p>
                    <input id="groupInUniversity" class="menuItemTables" name="groupInUniversity">
                </div>
                <div class="col-md-4 left" style="padding: 10px 10px 10px;">
                    <p>ФИО</p>
                    <input id="name" class="menuItemTables" name="name">
                </div>
                <div class="col-md-4 left" style="padding: 10px 10px 10px;">
                    <p>Ссылка</p>
                    <input id="url" class="menuItemTables" name="url">
                </div>
                <div class="col-md-6  left" style="padding: 10px 10px 10px;">
                    <p>Характеристика</p>
                   <textarea cols="40" id="characteristic" class="menuItemTables" name="characteristic"></textarea>
                </div>
                <div class="col-md-4 left" style="padding: 10px 10px 10px;">
                    <p>Стили для характеристики</p>
                    <textarea id="characteristicStyles" class="menuItemTables" name="characteristicStyles"></textarea>
                </div>
                <div class="col-md-4 left" style="padding: 10px 10px 10px;">
                    <p>Стили для группы</p>
                    <textarea id="groupInUniversityStyles" class="menuItemTables" name="groupInUniversityStyles"></textarea>
                </div>
                <div class="col-md-4 left" style="padding: 10px 10px 10px;">
                <p>Стили для ФИО</p>
                    <textarea id="nameStyles" class="menuItemTables" name="nameStyles"></textarea>
                </div>
                <div class="col-md-4 left" style="padding: 10px 10px 10px;">
                <p>Стили для картинки</p>
                    <textarea id="pictureStyles" class="menuItemTables" name="pictureStyles"></textarea>
            </div>
                <div class="col-md-4 left" style="padding: 10px 10px 10px;">
                    <p>Действие</p>
                    <a id="del" style="color: red;" class="cd-read-more">Удалить</a>
                </div>
                <input id="buttonUpdateMenuItem" class="menuItemTables" type="submit" value="Изменить"><br><br><br>
            </form>
        </div>
        <div class="close-btn fa fa-times"></div>
    </div>
</div>


<!-- Javascript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/classie.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous" defer></script>
<script src="/js/script.min.js"></script>
<script src="/js/modal.min.js"></script>

</body>
</html>