<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Редактор лучших студентов</title>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.png">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/js/superfish/css/megafish.css" media="screen" type="text/css">
    <link rel="stylesheet" href="/js/superfish/css/superfish.css" media="screen" type="text/css">
    <link rel="stylesheet" href="/css/style.min.css" type="text/css">
    <link rel="stylesheet" href="/css/light.min.css" type="text/css">
    <link rel="stylesheet" href="/css/responsive.min.css" type="text/css">
    <link rel="stylesheet" href="/css/admin/adminStyle.css"> <!-- Resource style -->

</head>
<body class="multi-page">

<div id="wrapper" class="wrapper">
    <!-- HEADER -->
    <div th:replace="templates :: headerAdmin"></div>

    <section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block" th:each="student : ${bestStudents}">
            <div class="cd-timeline-content">
                <h2 th:utext="${student.getName()}"></h2>
                <p class="black_p" th:utext="'Группа - '+${student.getGroupInUniversity()}"></p>
                <p class="black_p" th:utext="${student.getCharacteristic()}"></p>
                <img th:src="@{'/admin/content/news/' + ${student.getIdPicture()}}" alt="">
                <nav class="main-nav">
                    <ul>
                        <!-- inser more links here -->
                        <li><a th:href="@{'/admin/content/bestStudents/update/' + ${student.getId()}}" class="cd-read-more" >Изменить</a></li>
                        <li><a th:href="@{'/admin/content/bestStudents/delete/' + ${student.getId()}}" class="cd-read-more">Удалить</a></li>
                    </ul>
                </nav>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->
    </section> <!-- cd-timeline -->


    <div class="close-btn fa fa-times"></div>
</div>

<!-- Javascript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/classie.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous" defer></script>
<script src="/js/script.min.js"></script>
</body>
</html>