<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Таблица сотрудников</title>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.png">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/js/superfish/css/megafish.css" media="screen" type="text/css">
    <link rel="stylesheet" href="/js/superfish/css/superfish.css" media="screen" type="text/css">
    <link rel="stylesheet" href="/css/style.min.css" type="text/css">
    <link rel="stylesheet" href="/css/light.min.css" type="text/css">
    <link rel="stylesheet" href="/css/responsive.min.css" type="text/css">
    <link rel="stylesheet" href="/css/admin/adminStyle.css"> <!-- Resource style -->
</head>
<body class="multi-page">

<div id="wrapper" class="wrapper">
    <!-- HEADER -->
    <div th:replace="templates :: headerAdmin"></div>


    <div id="sample" class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
        <div class="cd-user-modal-container"> <!-- this is the container wrapper -->
            <ul class="cd-switcher">
                <li><a style="font-size: 26px;left: 50%;position: relative;" href="#">Добавить сотрудника</a></li>
                <!--<li><a href="#0">New account</a></li>-->
            </ul>

            <div id="cd-login"> <!-- log in form -->
                <form th:action="@{/admin/table/employee/add/submit}" th:object="${employee}" method="post" class="cd-form" enctype="multipart/form-data">
                    <fieldset>
                        <p class="fieldset black_p">
                            <label>Идентификатор департамента</label>
                            <input placeholder="(Для связи)" type="text" th:value="${employee.idDepartment}" name="idDepartment" style="height: 60px; width: 100%;" class="full-width has-padding has-border" required>
                        </p>

                        <p class="fieldset black_p">
                            <label>Идентификатор главной картинки</label>
                            <input placeholder="(Для характеристики)" type="text" th:value="${employee.idPictureMajor}" name="idPictureMajor" style="height: 60px; width: 100%;" class="full-width has-padding has-border" required>
                        </p>

                        <p class="fieldset black_p">
                            <label>Идентификатор второстепенной картинки</label>
                            <input placeholder="(Для иконки)" type="text" th:value="${employee.idPictureMinor}" name="idPictureMinor" style="height: 60px; width: 100%;" class="full-width has-padding has-border" required>
                        </p>

                        <p class="fieldset black_p">
                            <label>Куда отнести сотрудника?</label>
                            <select  name="nameDepartment" required>
                                <option th:each="name : ${nameDepartments}" th:value="${name.getName()}" th:utext="${name.getName()}"></option>
                            </select>
                        </p>

                        <p class="fieldset black_p">
                            <label>Номер в очереди</label>
                            <input placeholder="(НЕОБЯЗАТЕЛЬНО)" type="text" VALUE="-1" th:value="${employee.pinNumber}" name="pinNumber" style="height: 60px; width: 100%;" class="full-width has-padding has-border" required>
                        </p>


                        <p class="fieldset black_p">
                            <input placeholder="Имя сотрудника" type="text" th:value="${employee.name}" name="name" style="height: 60px; width: 100%;" class="full-width has-padding has-border" required>
                        </p>

                        <p class="fieldset black_p">
                            <input placeholder="Должность" type="text" th:value="${employee.post}" name="post" style="height: 60px; width: 100%;" class="full-width has-padding has-border">
                        </p>

                        <p class="fieldset black_p">
                            <input placeholder="Телефон" type="text" th:value="${employee.phone}" name="phone" style="height: 60px; width: 100%;" class="full-width has-padding has-border">
                        </p>

                        <p class="fieldset black_p">
                            <input placeholder="Почта" type="text" th:value="${employee.email}" name="email" style="height: 60px; width: 100%;" class="full-width has-padding has-border">
                        </p>

                        <p class="fieldset black_p">
                            <input placeholder="Детальная квалификация для вывода" type="text" th:value="${employee.qualificationDetailed}" name="qualificationDetailed" style="height: 60px; width: 100%;" class="full-width has-padding has-border">
                        </p>

                        <p class="fieldset black_p">
                            <input placeholder="Краткая квалификация для вывода" type="text" th:value="${employee.qualificationBriefly}" name="qualificationBriefly" style="height: 60px; width: 100%;" class="full-width has-padding has-border">
                        </p>

                        <p class="fieldset black_p">
                            <input placeholder="Характеристика" type="text" th:value="${employee.characteristic}" name="characteristic" style="height: 60px; width: 100%;" class="full-width has-padding has-border">
                        </p>

                        <p class="fieldset black_p">
                            <input placeholder="Куратор для кого? Пример: куратор направлений 02.03.03, 09.03.01, 09.03.04" type="text" th:value="${employee.curator}" name="curator" style="height: 60px; width: 100%;" class="full-width has-padding has-border">
                        </p>

                        <p class="fieldset black_p">

                            <button class="full-width" type="submit">Добавить</button>
                        </p>
                    </fieldset>
                </form>
            </div> <!-- cd-login -->

        </div> <!-- cd-user-modal-container -->
    </div> <!-- cd-user-modal -->

    <h2>Редактировать сотрудника</h2>
    <div class="container" style="padding-top: 5%">
        <div th:each="employee : ${employees}">
            <div class="col-md-4" style="margin-bottom: 50px">
                <div class="product-thumb">
                    <form th:action="@{/admin/table/employee/update/submit}" th:object="${item}" method="post">
                        <li><a class="cd-signin"><p th:src="${employee.getId()}" th:id="${employee.getId()}" class="menuItemTables" name="name" th:value="${employee.getName()}" th:utext="${employee.getName()}"></p></a></li>
                    </form>
                    <!--<input  value="Другие изменения.." type="submit">-->
                    <script th:inline="javascript">
                        document.body.onclick = function(e) {
                            var elem = e ? e.target : window.event.srcElement;
                            while (!(elem.id || (elem == document.body))) elem = elem.parentNode;
                            if (!elem.id) return; else id = elem.id;
                            var rightPart;
                            var srcImg=document.getElementById(id).getAttribute("src");
                            /*<![CDATA[*/
                            /*[# th:each="emp : ${employees}"]*/
                            rightPart = /*[[@{${emp.getId()}}]]*/ null;
                            if (srcImg == rightPart) {
                                document.getElementById("id").value = /*[[@{${emp.getId()}}]]*/ null;
                                document.getElementById("idPictureMajor").value = /*[[@{${emp.getIdPictureMajor()}}]]*/ null;
                                document.getElementById("idPictureMinor").value = /*[[@{${emp.getIdPictureMinor()}}]]*/ null;
                                document.getElementById("idDepartment").value = /*[[@{${emp.getIdDepartment()}}]]*/ null;
                                document.getElementById("characteristic").value = /*[[@{${emp.getCharacteristic()}}]]*/ null;
                                document.getElementById("email").value = /*[[@{${emp.getEmail()}}]]*/ null;
                                document.getElementById("name").value = /*[[@{${emp.getName()}}]]*/ null;
                                document.getElementById("phone").value = /*[[@{${emp.getPhone()}}]]*/ null;
                                document.getElementById("post").value = /*[[@{${emp.getPost()}}]]*/ null;
                                document.getElementById("qualificationDetailed").value = /*[[@{${emp.getQualificationDetailed()}}]]*/ null;
                                document.getElementById("qualificationBriefly").value = /*[[@{${emp.getQualificationBriefly()}}]]*/ null;
                                document.getElementById("pinNumber").value = /*[[@{${emp.getPinNumber()}}]]*/ null;
                                document.getElementById("curator").value = /*[[@{${emp.getCurator()}}]]*/ null;
                                document.getElementById("nameDepartment").value = /*[[@{${emp.getNameDepartment()}}]]*/ null;
                                document.getElementById("del").href = /*[[@{'/admin/table/employee/delete/id=' + ${emp.getId()}}]]*/ null;
                            }
                            /*[/]*/
                            /*]]>*/

                        }
                    </script>
                </div>
            </div>
        </div>
    </div>

        <div class="cd-user-modal1">
            <div class="cd-user-modal-container1">
                <form th:action="@{/admin/table/employee/update/submit}" th:object="${item}" method="post">
                    <div class="col-md-4 left" style="padding: 10px 10px 10px;">
                        <p>Идентификатор</p>
                        <input id="id" class="menuItemTables" name="id" readonly>
                    </div>
                    <div class="col-md-4  left" style="padding: 10px 10px 10px;">
                        <p>Идентификатор главной картины</p>
                        <input id="idPictureMajor" class="menuItemTables" name="idPictureMajor">
                    </div>
                    <div class="col-md-4 left" style="padding: 10px 10px 10px;">
                        <p>Идентификатор второстепенной картины</p>
                        <input id="idPictureMinor" class="menuItemTables" name="idPictureMinor">
                    </div>
                    <div class="col-md-4 left" style="padding: 10px 10px 10px;">
                        <p>Идентификатор департамента</p>
                        <input id="idDepartment" class="menuItemTables" name="idDepartment">
                    </div>
                    <div class="col-md-8 left" style="padding: 10px 10px 10px;">
                        <p>Характеристика</p>
                        <textarea cols="70" id="characteristic" class="menuItemTables" name="characteristic"></textarea>
                    </div>
                    <div class="col-md-4 left" style="padding: 10px 10px 10px;">
                        <p>Почта</p>
                        <input id="email" class="menuItemTables" name="email">
                    </div>
                    <div class="col-md-4 left" style="padding: 10px 10px 10px;">
                        <p>ФИО</p>
                        <input id="name" class="menuItemTables" name="name">
                    </div>
                    <div class="col-md-4 left" style="padding: 10px 10px 10px;">
                        <p>Телефон</p>
                        <input id="phone" class="menuItemTables" name="phone">
                    </div>
                    <div class="col-md-4 left" style="padding: 10px 10px 10px;">
                        <p>Должность</p>
                        <textarea id="post" class="menuItemTables" name="post"></textarea>
                    </div>
                    <div class="col-md-4 left" style="padding: 10px 10px 10px;">
                        <p>Детальная квалификация</p>
                        <textarea id="qualificationDetailed" class="menuItemTables" name="qualificationDetailed"></textarea>
                    </div>
                    <div class="col-md-4 left" style="padding: 10px 10px 10px;">
                        <p>Краткая квалификация</p>
                        <textarea id="qualificationBriefly" class="menuItemTables" name="qualificationBriefly"></textarea>
                    </div>
                    <div class="col-md-4 left" style="padding: 10px 10px 10px;">
                        <p>Очередь вывода</p>
                        <input id="pinNumber" class="menuItemTables" name="pinNumber">
                    </div>
                    <div class="col-md-4 left" style="padding: 10px 10px 10px;">
                        <p>Кураторство</p>
                        <textarea id="curator" class="menuItemTables" name="curator"></textarea>
                    </div>
                    <div class="col-md-4 left" style="padding: 10px 10px 10px;">
                        <p>Название департамента</p>
                        <input id="nameDepartment" class="menuItemTables" name="nameDepartment">
                    </div>
                    <div class="col-md-4 left" style="padding: 10px 10px 10px;">
                        <p>Действие</p>
                        <a style="color: red;" id="del" class="cd-read-more">Удалить</a>
                    </div>
                    <input id="buttonUpdateMenuItem" class="menuItemTables" type="submit" value="Изменить"><br><br><br>
                </form>
            </div>
            <div class="close-btn fa fa-times"></div>
        </div>
</div>

<!-- Javascript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/classie.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous" defer></script>
<script src="/js/script.min.js"></script>
<script src="/js/modal.min.js"></script>
</body>
</html>