<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Редактор кандидатов на отчисление</title>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.png">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/js/superfish/css/megafish.css" media="screen" type="text/css">
    <link rel="stylesheet" href="/js/superfish/css/superfish.css" media="screen" type="text/css">
    <link rel="stylesheet" href="/css/style.min.css" type="text/css">
    <link rel="stylesheet" href="/css/light.min.css" type="text/css">
    <link rel="stylesheet" href="/css/responsive.min.css" type="text/css">
    <link rel="stylesheet" href="/css/admin/adminStyle.css"> <!-- Resource style -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Modernizer -->
    <script src="/js/modernizr.custom.js"></script>

</head>
<body class="multi-page">

<div id="wrapper" class="wrapper">
    <!-- HEADER -->
    <div th:replace="templates :: headerAdmin"></div>

    <div id="sample" class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
        <script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
        <script type="text/javascript">
            //<![CDATA[
            bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
            //]]>
        </script>
        <div class="cd-user-modal-container"> <!-- this is the container wrapper -->
            <ul class="cd-switcher">
                <li><a style="font-size: 26px;left: 50%;position: relative;" href="#0">Редактирование</a></li>
                <!--<li><a href="#0">New account</a></li>-->
            </ul>

            <div id="cd-login"> <!-- log in form -->
                <form th:action="@{/admin/content/candidateAssignment/update/submit}" th:object="${candidateAssignment}" method="post" class="cd-form" enctype="multipart/form-data">
                    <fieldset>
                        <p>Фамилия, имя, отчество: Пример - Иван Иванов Иванович</p>
                            <textarea name="name" th:utext="${candidateAssignment.getName()}" th:field="*{name}" style="height: 60px; width: 100%;" class="full-width has-padding has-border" type="text" placeholder="Фамилия, имя, отчество: Пример - Иван Иванов Иванович"></textarea>
                            <!--<span class="cd-error-message">Ошибка ввода загаловка!</span>-->

                        <p>Курс: Пример - 4</p>
                            <textarea name="course" th:utext="${candidateAssignment.getCourse()}" th:field="*{course}" style="height: 60px; width: 100%;" class="full-width has-padding has-border" type="text"  placeholder="Курс: Пример - 4"></textarea>

                        <p>Группа: Пример - ПО-52</p>
                            <textarea name="groupInUniversity" th:utext="${candidateAssignment.getGroupInUniversity()}" th:field="*{groupInUniversity}" style="height: 60px; width: 100%;" class="full-width has-padding has-border" id="signin-password" type="text"  placeholder="Группа: Пример - ПО-52"></textarea>

                        <input name="id" type="hidden" th:field="*{id}">

                        <p class="fieldset black_p">
                            <button class="full-width" type="submit">Изменить</button>
                        </p>
                    </fieldset>
                </form>

            </div> <!-- cd-login -->

        </div> <!-- cd-user-modal-container -->
    </div> <!-- cd-user-modal -->


    <div class="close-btn fa fa-times"></div>
</div>

<!-- Javascript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/classie.min.js"></script>
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous" defer></script>
<script src="/js/script.min.js"></script>
<script src="/js/modal.min.js"></script>

</body>
</html>
