<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Дипломы</title>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.png">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/js/superfish/css/megafish.css" media="screen" type="text/css">
    <link rel="stylesheet" href="/js/superfish/css/superfish.css" media="screen" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/light.css" type="text/css">
    <link rel="stylesheet" href="/css/responsive.css" type="text/css">
    <link rel="stylesheet" href="/css/admin/adminStyle.css"> <!-- Resource style -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Modernizer -->
    <script src="/js/modernizr.custom.js"></script>

</head>
<body class="multi-page">

<div id="wrapper" class="wrapper">
    <!-- HEADER -->
    <div th:replace="templates :: headerAdmin"></div>

    <div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
        <div class="cd-user-modal-container"> <!-- this is the container wrapper -->
            <ul class="cd-switcher">
                <li><a style="font-size: 26px;left: 50%;position: relative;" href="#0">Добавить диплом</a></li>
                <!--<li><a href="#0">New account</a></li>-->
            </ul>

            <div id="cd-login"> <!-- log in form -->
                <form th:action="@{/admin/content/diplomas/add/submit}" th:object="${picture}" method="post" class="cd-form" enctype="multipart/form-data">
                    <fieldset>
                        <p class="fieldset black_p">
                            <input type="date" th:value="${picture.date}"  name="dateStringLocalDate" style="height: 60px; width: 100%;" class="full-width has-padding has-border">
                        </p>

                        <p class="fieldset black_p">
                            <input type="file" required  name="pictureFileMultipart" style="height: 60px; width: 100%;" class="full-width has-padding has-border">
                        </p>

                        <p class="fieldset black_p">
                            <button class="full-width" type="submit">Добавить</button>
                        </p>
                    </fieldset>
                </form>
            </div> <!-- cd-login -->
        </div> <!-- cd-user-modal-container -->
    </div> <!-- cd-user-modal -->


    <section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block" th:each="diplom : ${diploms}">
            <div class="cd-timeline-content">
                <h2 th:utext="${diplom.getNamePicture()}"></h2>
                <img th:src="@{'/admin/picture/' + ${diplom.getId()}}" alt="">
                <nav class="main-nav">
                    <ul>
                        <!-- inser more links here -->
                        <li><a th:href="@{'/admin/content/diplomas/update/' + ${diplom.getId()}}" class="cd-read-more" >Изменить</a></li>
                        <li><a th:href="@{'/admin/content/diplomas/delete/' + ${diplom.getId()}}" class="cd-read-more">Удалить</a></li>
                    </ul>
                </nav>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->
    </section> <!-- cd-timeline -->

    <!-- Pagination -->
    <div class="page_nav" th:object="${pageCount}">

        <a th:href="@{'/admin/content/diplomas/page/1'}" style="float: left;">
            <i class="fa fa-angle-left"></i>
            <i class="fa fa-angle-left"></i>
        </a>

        <a th:href="@{'/admin/content/diplomas/page/' + ${firstPage - 1}}" style="float: left;">
            <i class="fa fa-angle-left"></i>
        </a>

        <a style="background: #3c689e; float: left;" id="firstPage" th:object="${firstPage}" th:utext="${firstPage}" th:href="@{'/admin/content/diplomas/page/' + ${firstPage}}" class="active"></a>

        <div style="float: left;" th:if="${pageCount - firstPage - 1 >= 0}">
            <a id="secondPage" th:utext="${firstPage + 1}" th:href="@{'/admin/content/diplomas/page/' + ${firstPage + 1}}"></a>
        </div>

        <div style="float: left;" th:if="${pageCount - firstPage - 2 >= 0}">
            <a id="thirdPage" th:utext="${firstPage + 2}" th:href="@{'/admin/content/diplomas/page/' + ${firstPage + 2}}"></a>
        </div>

        <div style="float: left;" th:if="${pageCount > firstPage + 2}">
            <a style="float: left;" class="no-active">...</a>
            <a style="float: left;" th:utext="${pageCount}" th:href="@{'/admin/content/diplomas/page/' + ${pageCount}}"></a>
        </div>

        <div style="float: left;" th:if="${pageCount >= firstPage + 1}">
            <a th:href="@{'/admin/content/diplomas/page/' + ${firstPage + 1}}" style="float: left;">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>

        <div style="float: left;" th:if="${pageCount < firstPage + 1}">
            <a th:href="@{'/admin/content/diplomas/page/' + ${pageCount}}" style="float: left;">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>

        <a style="float: left;" th:href="@{'/admin/content/diplomas/page/' + ${pageCount}}">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
    <!-- End Pagination -->
</div>

<!-- Javascript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/classie.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="/js/script.js"></script>
<script src="/js/modal.js"></script>
<script>
    function isVisible(elem) {

        var coords = elem.getBoundingClientRect();

        var windowHeight = document.documentElement.clientHeight;

        var topVisible = coords.top > 0 && coords.top < windowHeight;
        var bottomVisible = coords.bottom < windowHeight && coords.bottom > 0;

        return topVisible || bottomVisible;
    }
    function showVisible() {
        var imgs = document.getElementsByTagName('img');
        for (var i = 0; i < imgs.length; i++) {

            var img = imgs[i];

            var realsrc = img.getAttribute('realsrc');
            if (!realsrc) continue;

            if (isVisible(img)) {
                img.src = realsrc;
                img.setAttribute('realsrc', '');
            }
        }
    }
    window.onscroll = showVisible;
    showVisible();
</script>
</body>
</html>