<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Редактор меню сайта</title>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.png">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/js/superfish/css/megafish.css" media="screen" type="text/css">
    <link rel="stylesheet" href="/js/superfish/css/superfish.css" media="screen" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/light.css" type="text/css">
    <link rel="stylesheet" href="/css/responsive.css" type="text/css">
    <link rel="stylesheet" href="/css/admin/adminStyle.css"> <!-- Resource style -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Modernizer -->
    <script src="/js/modernizr.custom.js"></script>

</head>
<body class="multi-page">

<div id="wrapper" class="wrapper">
    <!-- HEADER -->
    <div th:replace="templates :: headerAdmin"></div>

    <div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
        <div class="cd-user-modal-container"> <!-- this is the container wrapper -->
            <ul class="cd-switcher">
                <li><a style="font-size: 26px;left: 50%;position: relative;" href="#0">Добавить меню</a></li>
                <!--<li><a href="#0">New account</a></li>-->
            </ul>

            <div id="cd-login"> <!-- log in form -->
                <form th:action="@{/admin/page/menuItem/add/submit}" th:object="${menuItem}" method="post" class="cd-form" enctype="multipart/form-data">
                    <fieldset>
                        <p class="fieldset black_p">
                            <!--<textarea name="idMenuItemParentHeaderInMainPage" th:field="*{idMenuItemParentHeaderInMainPage}" style="height: 60px; width: 100%;" class="full-width has-padding has-border" id="signin-email" type="text" placeholder="Выберите родителя..."></textarea>-->
                            <label>Выберите родителя...</label>
                            <select id="idMenuItemParentHeaderInMainPage" name="idMenuItemParentHeaderInMainPage" required>
                                <option th:each="item : ${parentMenuItems}" th:value="${item.getId()}" th:utext="${item.getName()}"></option>
                            </select>
                        </p>

                        <p class="fieldset black_p">
                            <label>Уровень вложенности...</label>
                            <select id="level" name="level" required>
                                <option>0</option>
                                <option>1</option>
                            </select>
                        </p>

                        <p class="fieldset black_p">
                            <textarea name="name" th:field="*{name}" style="height: 60px; width: 100%;" class="full-width has-padding has-border" type="text"  placeholder="Название"></textarea>
                        </p>

                        <p class="fieldset black_p">
                            <textarea name="urlHref" th:field="*{urlHref}" style="height: 60px; width: 100%;" class="full-width has-padding has-border" type="text"  placeholder="Ссылка"></textarea>
                        </p>

                        <p class="fieldset black_p">
                            <button class="full-width" type="submit">Добавить</button>
                        </p>
                    </fieldset>
                </form>
            </div> <!-- cd-login -->
        </div> <!-- cd-user-modal-container -->
    </div> <!-- cd-user-modal -->

    <h2 style="text-align: center; margin-bottom: 50px;">Список для просмотра элементов меню. Для изменения потребуется права разработчика.</h2>
    <div class="shortcontain container">
    <table class="color">
        <tr>
            <th>Идентификатор</th>
            <th>Идентификатор родителя</th>
            <th>Уровень вложенности</th>
            <th>Название поля</th>
            <th>Номер в очереди</th>
            <th>Ссылка</th>
        </tr>
        <tr th:each="menuItem : ${menuItems}">
            <form th:action="@{/admin/table/menuItem/update/submit}" method="post">
                <td><p id="id" class="menuItemTables" name="id" th:utext="${menuItem.getId()}" ></p></td>
                <td><p id="idMenuItemParentHeaderInMainPage" class="menuItemTables" name="idMenuItemParentHeaderInMainPage" th:utext="${menuItem.getIdMenuItemParentHeaderInMainPage()}" ></p></td>
                <td><p id="level" class="menuItemTables" name="level" th:utext="${menuItem.getLevel()}" ></p></td>
                <td><p id="name" class="menuItemTables" name="name" th:utext="${menuItem.getName()}" ></p></td>
                <td><p id="pinNumber" class="menuItemTables" name="pinNumber" th:utext="${menuItem.getPinNumber()}" ></p></td>
                <td><p id="urlHref" class="menuItemTables" name="urlHref" th:utext="${menuItem.getUrlHref()}" ></p></td>
            </form>
        </tr>
    </table>
    </div>
</div>

<!-- Javascript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/classie.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>
