<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Редактор пользователей</title>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.png">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/js/superfish/css/megafish.css" media="screen" type="text/css">
    <link rel="stylesheet" href="/js/superfish/css/superfish.css" media="screen" type="text/css">
    <link rel="stylesheet" href="/css/style.min.css" type="text/css">
    <link rel="stylesheet" href="/css/light.min.css" type="text/css">
    <link rel="stylesheet" href="/css/responsive.min.css" type="text/css">
    <link rel="stylesheet" href="/css/admin/adminStyle.css"> <!-- Resource style -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Modernizer -->
    <script src="/js/modernizr.custom.js"></script>

</head>
<body class="multi-page">

<div id="wrapper" class="wrapper">
    <!-- HEADER -->
    <div th:replace="templates :: headerAdmin"></div>

    <div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
        <div class="cd-user-modal-container"> <!-- this is the container wrapper -->
            <ul class="cd-switcher">
                <li><a style="font-size: 26px;left: 50%;position: relative;" href="#0">Редактирование</a></li>
                <!--<li><a href="#0">New account</a></li>-->
            </ul>

            <div id="cd-login"> <!-- log in form -->
                <form th:action="@{/admin/user/update/submit}" th:object="${user}" method="post" class="cd-form" enctype="multipart/form-data">
                    <p th:utext="${user.username}"  name="username" align="center"></p>
                    <br>
                    <fieldset>

                        <p class="fieldset black_p">
                            <input required th:value="${user.firstname}" name="firstname" style="height: 60px; width: 100%;" class="full-width has-padding has-border" placeholder="Имя">
                        </p>

                        <p class="fieldset black_p">
                            <input required th:value="${user.secondname}" name="secondname" style="height: 60px; width: 100%;" class="full-width has-padding has-border" placeholder="Фамилия">
                        </p>

                        <p class="fieldset black_p">
                            <input name="password" th:field="*{password}" style="height: 60px; width: 100%;" class="full-width has-padding has-border" type="password" placeholder="Новый пароль: Пример - 123456qwerty" minlength="8" required></input>
                        </p>

                        <p class="fieldset black_p">
                            <input id="accountNonExpired" type="checkbox" name="accountNonExpired" th:field="*{accountNonExpired}" th:value="${user.accountNonExpired}"></input>
                            <label for="accountNonExpired">Eсли давно не заходил, то ставьте галочку</label>
                        </p>

                        <p class="fieldset black_p">
                            <input id="accountNonLocked" type="checkbox" name="accountNonLocked" th:field="*{accountNonLocked}" th:value="${user.accountNonLocked}" ></input>
                            <label for="accountNonLocked">Eсли не заблокированный, то ставьте галочку</label>
                        </p>

                        <p class="fieldset black_p">
                            <input id="credentialsNonExpired" type="checkbox" name="credentialsNonExpired" th:field="*{credentialsNonExpired}" th:value="${user.credentialsNonExpired}" ></input>
                            <label for="credentialsNonExpired">Eсли настройка учетных данных не истекли, то ставьте галочку</label>
                        </p>

                        <p class="fieldset black_p">
                            <input id="enabled" type="checkbox" name="enabled" th:field="*{enabled}" th:value="${user.enabled}" ></input>
                            <label for="enabled">Eсли учетная запись активирована, то ставьте галочку</label>
                        </p>

                        <p>Права доступа:</p>

                        <p class="fieldset black_p">
                            <select id="rolesString" name="rolesString" th:value="${rolesString}" multiple required>
                                <option th:each="roleEnum : ${roles}" th:value="${roleEnum}" th:utext="${roleEnum.getName()}"></option>
                            </select>
                        </p>

                        <input name="id" type="hidden" th:field="*{id}">
                        <input name="username" type="hidden" th:field="*{username}">
                        <input name="pagevk" type="hidden" th:field="*{pagevk}">
                        <input name="enabled" type="hidden" th:field="*{enabled}">

                        <p class="fieldset black_p">
                            <button class="full-width" type="submit">Изменить</button>
                        </p>
                    </fieldset>
                </form>

            </div> <!-- cd-login -->

        </div> <!-- cd-user-modal-container -->
    </div> <!-- cd-user-modal -->
</div>

<!-- Javascript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/classie.min.js"></script>
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous" defer></script>
<script src="/js/script.min.js"></script>
<script src="/js/modal.min.js"></script>

</body>
</html>
