<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Редактор кураторов</title>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.png">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/js/superfish/css/megafish.css" media="screen" type="text/css">
    <link rel="stylesheet" href="/js/superfish/css/superfish.css" media="screen" type="text/css">
    <link rel="stylesheet" href="/css/style.min.css" type="text/css">
    <link rel="stylesheet" href="/css/light.min.css" type="text/css">
    <link rel="stylesheet" href="/css/responsive.min.css" type="text/css">
    <link rel="stylesheet" href="/css/admin/adminStyle.css"> <!-- Resource style -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Modernizer -->
    <script src="/js/modernizr.custom.js"></script>

</head>
<body class="multi-page">

<div id="wrapper" class="wrapper">
    <!-- HEADER -->
    <div th:replace="templates :: headerAdmin"></div>

    <div id="sample" class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
        <script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
        <script type="text/javascript">
            //<![CDATA[
            bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
            //]]>
        </script>
        <div class="cd-user-modal-container"> <!-- this is the container wrapper -->
            <ul class="cd-switcher">
                <li><a style="font-size: 26px;left: 50%;position: relative;" href="#0">Добавить куратора группы</a></li>
                <!--<li><a href="#0">New account</a></li>-->
            </ul>

            <div id="cd-login"> <!-- log in form -->
                <form th:action="@{/admin/content/curator/add/submit}" th:object="${curatorGroup}" method="post" class="cd-form" enctype="multipart/form-data">
                    <fieldset>
                        <p class="fieldset black_p">
                            <textarea name="groupInUniversity" th:field="*{groupInUniversity}" style="height: 60px; width: 100%;" class="full-width has-padding has-border" type="text" placeholder="№ группы: Пример - ПО-52" required></textarea>
                        </p>

                        <p class="fieldset black_p">
                            <textarea name="nameCuratorTeacher" th:field="*{nameCuratorTeacher}" style="height: 60px; width: 100%;" class="full-width has-padding has-border" type="text"  placeholder="Ф.И.О. куратора-преподавателя: Пример - Часов Егор Александрович" required></textarea>
                        </p>

                        <p class="fieldset black_p">
                            <textarea name="nameDepartment" th:field="*{nameDepartment}" style="height: 60px; width: 100%;" class="full-width has-padding has-border" type="text"  placeholder="Кафедра: Пример - ПОУТС" required></textarea>
                        </p>

                        <p class="fieldset black_p">
                            <textarea name="phone" th:field="*{phone}" style="height: 60px; width: 100%;" class="full-width has-padding has-border" type="text"  placeholder="Телефон: Пример - 228-00-13" required></textarea>
                        </p>

                        <p class="fieldset black_p">
                            <textarea name="nameCuratorStudentAndGroup" th:field="*{nameCuratorStudentAndGroup}" style="height: 60px; width: 100%;" class="full-width has-padding has-border" type="text"  placeholder="Ф.И.О. куратора-студента, группа: Пример - Зубков Евгений Романович" required></textarea>
                        </p>

                        <p class="fieldset black_p">
                            <button class="full-width" type="submit">Добавить</button>
                        </p>
                    </fieldset>
                </form>

            </div> <!-- cd-login -->

        </div> <!-- cd-user-modal-container -->
    </div> <!-- cd-user-modal -->

    <section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block" th:each="curator : ${curators}">
            <div class="cd-timeline-content">
                <h2 th:utext="${curator.getGroupInUniversity()}"></h2>
                <p class="big_p">Ф.И.О. куратора-преподавателя</p>
                    <p th:utext="${curator.getNameCuratorTeacher()}"></p>
                <p class="big_p">Кафедра</p>
                    <p th:utext="${curator.getNameDepartment()}"></p>
                <p class="big_p">Телефон</p>
                    <p th:utext="${curator.getPhone()}"></p>
                <p class="big_p">Ф.И.О. куратора-студента, группа</p>
                    <p th:utext="${curator.getNameCuratorStudentAndGroup()}"></p>
                <nav class="main-nav">
                    <ul>
                        <!-- inser more links here -->
                        <li><a th:href="@{'/admin/content/curator/update/' + ${curator.getId()}}" class="cd-read-more" >Изменить</a></li>
                        <li><a th:href="@{'/admin/content/curator/delete/' + ${curator.getId()}}" class="cd-read-more">Удалить</a></li>
                    </ul>
                </nav>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->
    </section> <!-- cd-timeline -->


    <div class="close-btn fa fa-times"></div>
</div>

<!-- Javascript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/classie.min.js"></script>
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous" defer></script>
<script src="/js/script.min.js"></script>

</body>
</html>