<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="keywords" content="HTML5 Template" />
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Главная страница</title>

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Favicon -->
	<link rel="shortcut icon" href="images/favicon.png">

	<!-- CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/js/superfish/css/megafish.css" media="screen" type="text/css">
    <link rel="stylesheet" href="/js/superfish/css/superfish.css" media="screen" type="text/css">
	<link rel="stylesheet" href="/css/admin/adminStyle.css"> <!-- Resource style -->
    <link rel="stylesheet" href="/css/style.min.css" type="text/css">
    <link rel="stylesheet" href="/css/light.min.css" type="text/css">
    <link rel="stylesheet" href="/css/responsive.min.css" type="text/css">

</head>
<body class="multi-page">

<div id="wrapper" class="wrapper">
	<!-- HEADER -->
	<div th:replace="templates :: headerAdmin"></div>

	<div class="space35"></div>

    <div class="shortcontain container ">
		<div class="row">
        <h3>Как это работает:</h3>
        <p>1. Откройте боковую панель сайта, которая расположена слева в верхнем углу.</p>
        <p>2. Выбираете одну из доступных настроек сайта.</p>
        <p>3. Заполняете нужные поля или измените.</p>
        <p>4. Нажмите сохранить.</p>
        <p>5. Проверьте изменения на сайте, обновив страницу, которую вы изменили с помощью нажатия на клавиши CTRL + F5.</p>
		</div>
	</div>
	<div class="space70"></div>
	<footer id="footer3"></footer>
</div>

<!-- Javascript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/classie.min.js"></script>
<script src="/js/superfish/js/hoverIntent.js"></script>
<script src="/js/superfish/js/superfish.min.js"></script>
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
		integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
		crossorigin="anonymous" defer></script>
<script src="/js/script.min.js"></script>
</body>
</html>