<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:utext="${cathedrasHead.getHtmlCode()}"></head>
<body class="multi-page">

<div id="wrapper" class="wrapper">
    <!-- HEADER -->
    <div th:replace="templates :: headerUser"></div>
    <div th:insert="templates :: headerUserInsertSearch"></div>

    <!-- INNER CONTENT -->
    <section id="content" class=" list-padding-left cath">
        <div class="page_header page_header2 text-center">
            <h2 id="begin" th:utext="${departmentName.getName()}"></h2>
        </div>
        <div class="shortcontain cathedras list">
            <div th:each="department : ${departments}">
            <div class="col-md-1">
                <a th:onclick="'ScrollTo(\'' + ${department.getId()} + '\');'">
                    <img th:src="@{'/employees/picture/' + ${department.getIdPictureIcon()}}" class="img-responsive"/>
                </a>
            </div>
            <ul class="img-padding">
                <li th:onclick="'ScrollTo(\'' + ${department.getId()} + '\');'" th:utext="${department.getNameDepartment()}" ></li>
            </ul>
            </div>
        </div>
        <div class="container oval-photo reducedPhoto list-marker">
            <div th:each="department : ${departments}">
                <div th:id="${department.getId()}" class="row">
                    <div class="col-md-6 col-md-offset-3 about-info2">
                        <h5 th:utext="${department.getNameDepartment()}" class="text-center"></h5>
                        <div th:utext="${department.getDescription()}"></div>
                        <div class="row">
                        <div class="col-md-4">
                            <img th:src="@{'/employees/picture/' + ${department.getIdPictureEmployee()}}" class="img-responsive static-image" alt=""/>
                        </div>
                        <div class="col-md-8">
                            <h5 th:utext="${department.getEmployee()}"></h5>
                            <p th:utext="${department.getPhone()}"></p>
                            <p th:utext="${department.getEmail()}"></p>
                            <p th:utext="${department.getAddress()}"></p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="str"><img src="/images/str.png" onclick="ScrollTo('begin')" class="img-responsive" alt=""/></div>
    <div class="clearfix space70"></div>
    <!-- FOOTER -->
    <div th:replace="templates :: footerUser"></div>
</div>

<div th:replace="templates :: footerUserInsertMap"></div>

<!-- Javascript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/classie.js"></script>
<script src="/js/masonry.pkgd.min.js"></script>
<script src="/js/superfish/js/hoverIntent.js"></script>
<script src="/js/superfish/js/superfish.js"></script>
<script src="/js/dialogFx.js"></script>
<script src="/js/dialog-js.js"></script>
<!---->
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script src="/js/gmap2.js"></script>
<script src="/js/script.js"></script>
<script>
    function ScrollTo(name) {
        ScrollToResolver(document.getElementById(name));
    }

    function ScrollToResolver(elem) {
        var jump = parseInt(elem.getBoundingClientRect().top * .2);
        document.body.scrollTop += jump;
        document.documentElement.scrollTop += jump;
        if (!elem.lastjump || elem.lastjump > Math.abs(jump)) {
            elem.lastjump = Math.abs(jump);
            setTimeout(function() {
                ScrollToResolver(elem);
            }, "20");
        } else {
            elem.lastjump = null;
        }
    }
</script>
</body>
</html>