<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Кафедры факультета</title>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.png">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/js/isotope/isotope.css">
    <link rel="stylesheet" href="/js/flexslider/flexslider.css">
    <link rel="stylesheet" href="/js/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/js/owl-carousel/owl.theme.css">
    <link rel="stylesheet" href="/js/owl-carousel/owl.transitions.css">
    <link rel="stylesheet" href="/js/superfish/css/megafish.css" media="screen">
    <link rel="stylesheet" href="/js/superfish/css/superfish.css" media="screen">
    <link rel="stylesheet" href="/js/pikaday/pikaday.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/light.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/studentStyle.css">

    <!-- JS Font Script -->
    <script src="http://use.edgefonts.net/bebas-neue.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Modernizer -->
    <script src="/js/modernizr.custom.js"></script>

</head>
<body class="multi-page">

<div id="wrapper" class="wrapper">
    <!-- HEADER -->
    <header id="header" class="color-silver">
        <div class="container">
            <div class="row">
                <div class="logo-psuti" style="margin: 10px;">
                    <a href="/main" th:object="${logotipFIST}"><img th:src="@{'/main/picture/' + ${logotipFIST.getId()}}" class="img-responsive" alt=""/></a>
                </div>
                <div class="col-md-9 col-xs-7">
                    <div class="top-bar "style="width:100%;float:left; margin-right: 50px;">
                        <ul>
                            <li style="float: left;padding-right: 5px"><i class="fa fa-map-marker"></i></li>
                            <li class="tb-info"  style="float: left;color: black;padding-right:4%"> Московское шоссе 77, кабинет 302</li>

                            <li style="float: left;padding-right: 5px"><i class="fa fa-phone"></i></li>
                            <li class="tb-info"  style="float: left;color: black;padding-right:4%" th:object="${phone}" th:utext="${phone.getName()}"></li>

                            <li style="float: left;padding-right: 5px"><i class="fa fa-envelope" style="float: left;padding-right: 5px"></i></li>
                            <li class="tb-info" style="float: left;color: black" th:object="${email}" th:utext="${email.getName()}"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="menu-wrap">
                <div class="row" style="margin-left: 5%;">
                    <div th:object="${menuItemMobile}" th:utext="${menuItemMobile.getName()}" id="mobnav-btn"> <!--<i class="fa fa-bars"></i>--></div>
                    <ul class="sf-menu" th:each="mapEntry : ${menuItems}">
                        <li>
                            <a th:object="${mapEntry.key}" th:href="${mapEntry.key.getUrlHref()}" th:utext="${mapEntry.key.getName()}"></a>
                            <div class="mobnav-subarrow"><!--<i class="fa fa-plus"></i>--></div>
                            <ul >
                                <div class="bord" th:each="menuItemMinor : ${mapEntry.value}">
                                    <li th:each="menuItemHeaderInMainPage : ${menuItemMinor}">
                                        <a th:href="${menuItemHeaderInMainPage.getUrlHref()}" th:utext="${menuItemHeaderInMainPage.getName()}"></a>
                                    </li>
                                </div>
                            </ul>
                        </li>
                    </ul>
                    <div class="logo-psuti admin" style=" float:right; margin: 15px 15px 0 0; ">
                        <a href="/admin"><img src="/images/admin.png" class="img-responsive" alt=""/></a>
                    </div>
                    <div class="logo-psuti" style=" float:right; margin: 15px 15px 0 0; ">
                        <a href="/main" th:object="${logotipPSUTI}"><img th:src="@{'/main/picture/' + ${logotipPSUTI.getId()}}"  class="img-responsive" alt=""/></a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- INNER CONTENT -->
    <section id="content" class=" list-padding-left cath">
        <div class="page_header page_header2 text-center">
            <h2 th:utext="${departmentName.getName()}"></h2>
        </div>
        <!--<div class="shortcontain cathedras list">
        <ul>
            <div th:each="department : ${departments}">
            <li th:onclick="'ScrollTo(\'' + ${department.getId()} + '\');'" th:utext="${department.getNameDepartment()}"></li>
            </div>
        </ul>
           </div>-->

        <div class="shortcontain cathedras list">
            <ul class="img-padding">
                    <li onclick="ScrollTo(2)"><div class="col-md-1"><a onclick="ScrollTo(2)"><img src="/images/logocath/IVT.png" class="img-responsive"></a></div>Информатика и вычислительная техника</li>
                    <li onclick="ScrollTo(3)"><div class="col-md-1"><a onclick="ScrollTo(2)"><img src="/images/logocath/POUTS.png" class="img-responsive"></a></div>Программное обеспечение и управление в технических системах</li>
                    <li onclick="ScrollTo(4)"><div class="col-md-1"><a onclick="ScrollTo(2)"><img src="/images/logocath/INO.png" class="img-responsive"></a></div>Иностранные языки</li>
                    <li onclick="ScrollTo(5)"><div class="col-md-1"><a onclick="ScrollTo(2)"><img src="/images/logocath/IST.png" class="img-responsive"></a></div>Информационные системы и технологии</li>
                    <li onclick="ScrollTo(6)"><div class="col-md-1"><a onclick="ScrollTo(2)"><img src="/images/logocath/PI.png" class="img-responsive"></a></div>Прикладная информатика</li>
                    <li onclick="ScrollTo(7)"><div class="col-md-1"><a onclick="ScrollTo(2)"><img src="/images/logocath/CO.png" class="img-responsive"></a></div>Цифровая экономика</li>
                    <li onclick="ScrollTo(8)"><div class="col-md-1"><a onclick="ScrollTo(2)"><img src="/images/logocath/SO.png" class="img-responsive"></a></div>Связи с общественностью</li>
                    <li onclick="ScrollTo(9)"><div class="col-md-1"><a onclick="ScrollTo(2)"><img src="/images/logocath/IZ.png" class="img-responsive"></a></div>Инженерия знаний</li>
            </ul>
        </div>
        <div class="container oval-photo reducedPhoto list-marker">
            <!--<div class="row" th:each="department : ${departments}">
                <div class="col-md-6">
                    <img th:src="@{'/employees/picture/' + ${department.getIdPicture()}}" class="img-responsive static-image" alt=""/>

                </div>
                <div class="col-md-6 about-info">
                    <h3 th:utext="${department.getNameDepartment()}"></h3>
                    <br>
                    <h4 th:utext="${department.getEmployee()}"></h4>
                    <p th:utext="${department.getAddress()}"></p>
                    <p th:utext="${department.getPhone()}"></p>
                    <p th:utext="${department.getEmail()}"></p>
                </div>
            </div>-->

                <div id="2" class="row">
                    <div class="col-md-6 col-md-offset-3 about-info">
                        <h5 class="text-center">Кафедра "Информатики и вычислительной техники" (ИВТ)</h5>
                        <p>Образована в 2004 году в результате реорганизации кафедры Вычислительной техники, созданной в 1976 году под названием “Вычислительная техника и АСУ”. Кафедра ИВТ обеспечивает цифровую экономику компетентными кадрами по направлению подготовки 09.04.01 Информатика и вычислительная техника (уровень магистратуры).<br>
                            Преподаватели кафедры ведут подготовку студентов всех специальностей и направлений ПГУТИ по дисциплине «Информатика». Другие дисциплины кафедры: «Вычислительная техника и информационные технологии», «Машинно-зависимые языки программирования», «Программирование на ЯВУ», «Теория автоматов и формальных языков», «Цифровые устройства и микропроцессоры», «Конструирование компиляторов», «Проектирование человеко-машинного интерфейса», «Структуры данных», «Методология программной инженерии», «Алгоритмы сжатия данных» и др.<br>
                            Научно-исследовательская работа кафедры связана с повышением эффективности использования ЭВМ в технологиях связи и учебном процессе, разработкой новых информационных технологий, математическим моделированием, интеллектуальными информационными системами, анализом производительности вычислительных систем, исследованиями сетевых телекоммуникационных структур и вопросами защиты информации. </p>
                            <h4>На кафедре совместно с Оренбургским государственным университетом выполняется научно-исследовательская работа (НИР) по грантам РФФИ:</h4>

                        <ul>
                                <li>Разработка эффективных алгоритмов управления корпоративными сетями на основе технологии программно-конфигурируемых сетей» (2014-2015г.);</li>
                            <li> Разработка алгоритмов и моделей многоадресной передачи широкополосного мультимедийного трафика для цифрового телевидения на базе программно-конфигурируемых сетей» (2015-2017г.);</li>
                            <li> Адаптивная система выявления угроз и защиты от кибератак в крупных корпоративных сетях» (2016-2018 г.);</li>
                            <li> Разработка методов оптимизации систем размещения вычислительных виртуальных элементов в облачных инфраструктурах при работе с большими данными» (2018г.);</li>
                            </ul>
                        <h4>Преподавательский состав кафедры организует научно-исследовательскую работу студентов, начиная с первых курсов по вышеперечисленным тематическим направлениям:</h4>
                        <ul>
                            <li>в рамках реализации олимпиадного направления ПГУТИ «Прикладное программирование»;</li>
                            <li>в рамках участия в организации Открытой международной студенческой интернет-олимпиады по дисциплине «Информатика».</li>
                        </ul>
                        <p>Кафедра развивает сотрудничество с ВУЗами зарубежных стран: заключен договор о сотрудничестве с Шуменским университетом «Епископа Константина Преславски» (Болгария) в области методической работы и проведения научно-исследовательских работ.</p>
                        <h4>Заведующий кафедрой:</h4>
                        <div class="row">
                        <div class="col-md-4"><img src="/images/cathedras/baxareva.jpg" class="img-responsive static-image" alt=""/> </div>
                        <div class="col-md-8">
                            <h5>д.т.н., профессор Бахарева Надежда Федоровна</h5>
                            <p>тел.: (846) 339-11-31</p>
                            <p>e-mail: bahareva-nf@psuti.ru</p>
                            <p>адрес: Россия, 443090, г.Самара, Московское шоссе, 77, ПГУТИ, корп.2, комн.1-133</p>
                        </div>
                        </div>
                    </div>
                </div>
                    <div id="3" class="row">
                        <div class="col-md-6 col-md-offset-3 about-info">
                            <h5 class="text-center">Кафедра "Программного обеспечения и управления в технических системах" (ПОУТС)</h5>
                            <p> Образована в 2007 году после открытия в ПГУТИ специальности «Управление и информатика в технических системах». Кафедра осуществляет подготовку высокопрофессиональных специалистов в области программного обеспечения и управления в технических системах, внося тем самым существенный вклад в формирование кадрового потенциала будущего по направлениям бакалавриата, магистратуры и аспирантуры:</p>
                            <ul>
                                <li>02.03.03 Математическое обеспечение и администрирование информационных систем (уровень бакалавриата);</li>
                                <li>09.03.01 Информатика и вычислительная техника (уровень бакалавриата);</li>
                                <li>09.03.04 Программная инженерия (уровень бакалавриата);</li>
                                <li>27.03.04 Управление в технических системах (уровень бакалавриата);</li>
                                <li>09.04.04 Программная инженерия (уровень магистратуры);</li>
                                <li>27.04.04 Управление в технических системах (уровень магистратуры),;</li>
                                <li>09.06.01 Информатика и вычислительная техника (уровень подготовки кадров высшей квалификации).</li>
                            </ul>
                            <p>На кафедре сложились и успешно развиваются научные направления: инженерия программного обеспечения; разработка web-приложений и распределённых систем на языке Java; проектирование и моделирование компьютерных сетей; системы реального времени; интеллектуальные робототехнические системы; проектирование и моделирование автоматических и автоматизированных сложных технических систем; конструирование программного обеспечения для сложных технических систем; надежность систем автоматизации.</p>
                            <h4>Кафедра ПОУТС совместно с Оренбургским государственным университетом активно участвует в выполнении прикладных научных работ на основе государственных контрактов с Минобрнауки РФ, а также на основе грантов РФФИ:</h4>
                            <ul>
                                <li>государственный контракт с Минобрнауки РФ «Разработка моделей и методов управления сетевыми ресурсами в программно-конфигурируемых компьютерных сетях»;</li>
                                <li>государственный контракт с Минобрнауки РФ «Создание типовых программных решений для управления корпоративной беспроводной инфраструктурой на основе программно-конфигурируемых сетей»;</li>
                                <li>грант РФФИ «Разработка алгоритмов и средств создания самоорганизующихся виртуальных частных сетей с шифрованием, автоматической подстройкой под изменяющийся трафик, маршрутизацией на базе муравьиных алгоритмов и облачным принципом управления и настройки»;</li>
                                <li>грант РФФИ «Создание алгоритмов и моделей работы энергоэффективной самоорганизующейся беспроводной сети высокой плотности с использованием многодиапазонных автономных маломощных беспроводных систем с временным и частотным разделением»;</li>
                                <li>Оренбургский областной грант Минобрнауки РФ «Программно-аппаратный комплекс управления медицинской организацией на основе математической модели лечебно- диагностического процесса оказания медицинской помощи».</li>
                            </ul>
                            <p>Кафедра успешно вовлекает в научную работу студентов и молодых ученых. В мае 2015 г. кафедра ПОУТС совместно с Институтом системного программирования РАН организовала международную конференцию молодых ученых по программной инженерии SYRCoSE 2015 с привлечением специалистов из дальнего зарубежья. Студенческие проекты, разработанные на базе кафедры ПОУТС, занимают призовые места на научных и практических конференциях, олимпиадах и конкурсах всех уровней.</p>
                            <h4>Заведующий кафедрой:</h4>
                            <div class="row">
                                <div class="col-md-4"><img src="/images/cathedras/tarasov.jpg" class="img-responsive static-image" alt=""/> </div>
                                <div class="col-md-8">
                                    <h5>д.т.н., профессор Тарасов Вениамин Николаевич</h5>
                                    <p>тел.: (846) 228-00-13</p>
                                    <p>e-mail: veniamin_tarasov@mail.ru</p>
                                    <p>адрес: Россия, 443090, г.Самара, Московское шоссе, 77, ПГУТИ, корп.2, комн.1-35</p>
                                </div>
                            </div>
                        </div>
                    </div>
                <div id="4" class="row">
                    <div class="col-md-6 col-md-offset-3 about-info">
                        <h5 class="text-center">Кафедра "Иностранных языков" (ИНО)</h5>
                        <p>Образована в 1956 году одновременно с созданием Куйбышевского Электротехнического института связи. Преподаватели кафедры ведут подготовку студентов всех специальностей и направлений ПГУТИ уровней бакалавриата, магистратуры и подготовки кадров высшей квалификации. Проводятся факультативы для начального и продвинутого уровней знаний иностранных языков. Научно-исследовательская работа кафедры сосредоточена на вопросах современной лингвистики, а также на различных аспектах обучения иностранным языкам с учетом специфики инфокоммуникационных технологий.</p>
                        <h4>Кафедрой ведутся исследования по следующим научным направлениям:</h4>
                        <ul>
                            <li>лексико-грамматические, семантические, фразеологические и методические особенности преподавания иностранных языков в техническом ВУЗе;</li>
                            <li>аспекты восприятия иностранного языка и общения;</li>
                            <li>проблемы адаптации и профориентации в процессе обучения в неязыковом ВУЗе;</li>
                            <li>профессиональный перевод (прямой и обратный);</li>
                            <li>особенности функционирования и восприятия американского варианта английского языка;</li>
                            <li>теория и практика перевода терминов и их вариантов.Преподаватели кафедры принимают активное участие в организации научных конференций. Например, международная научно-практическая конференция «Moving Forward in a Dynamic World», в составе жюри – в XII Открытой Международной научно-исследовательской конференции молодых исследователей «Образование. Наука. Профессия» и мн. др.</li>
                        </ul>
                        <p>Кафедра успешно вовлекает в научную работу своих студентов, о чем свидетельствуют призовые места, которые они занимают на научных и практических конференциях, олимпиадах и конкурсах всех уровней: дипломы по итогам Всероссийской студенческой олимпиады «Иностранный язык и технологии будущего» («За лучшие знания лексикографического материала» и «За креативность и нестандартность мышления при решении поставленных задач»).</p>
                        <h4>Заведующий кафедрой:</h4>
                        <div class="row">
                            <div class="col-md-4"><img src="/images/cathedras/abramov-s.jpg" class="img-responsive static-image" alt=""/> </div>
                            <div class="col-md-8">
                                <h5>д.ф.н., профессор Абрамов Владимир Евгеньевич</h5>
                                <p>тел.: (846) 228-00-63</p>
                                <p>e-mail: dobronraw@mail.ru</p>
                                <p>адрес: Россия, 443090, г.Самара, Московское шоссе, 77, ПГУТИ, корп.2, комн.4-02</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="5" class="row">
                    <div class="col-md-6 col-md-offset-3 about-info">
                        <h5 class="text-center">Кафедра "Информационных систем и технологий" (ИСТ)</h5>
                        <p>Образована в 2004 году, определив название факультета, в состав которого она входит. Кафедра ИСТ осуществляет внедрение и эффективное использование инновационных информационных сервисов, систем и технологий обучения, электронных образовательных ресурсов нового поколения при реализации основных образовательных программ по направлениям подготовки бакалавриата и магистратуры:</p>
                            <ul>
                                <li>09.03.02 Информационные системы и технологии (уровень бакалавриата);</li>
                                <li>09.04.02 Информационные системы и технологии (уровень магистратуры).</li>
                            </ul>
                        <p>Основные дисциплины кафедры: алгоритмы и структуры данных, системный анализ и принятие решений, интеллектуальные информационные системы и технологи, мультимедиа технологии, инструментальные средства информационных систем, интеллектуальный анализ данных, базы данных и т.д.<br>Кафедра ИСТ осуществляет организацию и проведение прикладных научных исследований, направленных на решение актуальных задач отрасли связи и других отраслей науки и техники.  </p>
                        <h4>Основными научными направлениями кафедры являются:</h4>
                        <ul>
                            <li>проектирование интеллектуальных информационных систем;</li>
                            <li>разработка и исследование нейросетевых алгоритмов;</li>
                            <li>имитационное моделирование в различных предметных областях;</li>
                            <li>разработка систем поддержки принятия решений;</li>
                            <li>обработка изображений, исследование методов распознавания образов;</li>
                            <li>разработка мобильных приложений и т.д.</li>
                        </ul>
                        <p>Кафедра успешно вовлекает в научную работу своих студентов, о чем свидетельствуют призовые места, которые они занимают на научных и практических конференциях, олимпиадах и конкурсах всех уровней: международная олимпиада в сфере информационных технологий «IT-Планета»; областная конференция «Полет» студентов, магистрантов, аспирантов и молодых ученых образовательных организаций высшего образования Самарской области и мн. др. Кафедра реализует олимпиадные направления ПГУТИ «Алгоритмическое программирование», «Основы программирования и конфигурирования в системе 1С:Предприятие».</p>
                        <h4>Заведующий кафедрой:</h4>
                        <div class="row">
                            <div class="col-md-4"><img src="/images/cathedras/Limanova__N_I_.jpg" class="img-responsive static-image" alt=""/></div>
                            <div class="col-md-8">
                                <h5>д.т.н., доцент Лиманова Наталия Игоревна</h5>
                                <p>тел.: (846) 228-00-82</p>
                                <p>e-mail: nataliya.I.Limanova@gmail.com</p>
                                <p>адрес: Россия, 443090, г.Самара, Московское шоссе, 77, ПГУТИ, корп.2, комн.5-14</p>
                            </div>
                        </div>
                    </div>
                </div>
            <div id="6" class="row">
                <div class="col-md-6 col-md-offset-3 about-info">
                    <h5 class="text-center">Кафедра "Прикладной информатики" (ПИ)</h5>
                    <p>Образована в 1996 году под названием «Информационные системы в экономике». В октябре 1997 года произошло ее объединение с кафедрой «Инженерная графика» под общим названием «Экономические информационные системы». В сентябре 2017 года кафедра «Экономические информационные системы» была переименована в кафедру «Прикладная информатика».<br>Кафедра осуществляет подготовку высокопрофессиональных специалистов в области разработки и эксплуатации корпоративных экономических информационных систем по направлениям бакалавриата, магистратуры и аспирантуры: </p>
                        <ul>
                            <li>09.03.03 Прикладная информатика (уровень бакалавриата);</li>
                            <li>09.04.03 Прикладная информатика (уровень магистратуры);</li>
                            <li>09.06.01 Информатика и вычислительная техника (уровень подготовки кадров высшей квалификации).</li>
                        </ul>
                    <p>Основные дисциплины кафедры: «Имитационное моделирование», «Теория систем и системный анализ», «Прикладные решения для управления предприятием на платформе 1C:Предприятие 8», «Проектирование информационных систем», «Средства и технологии разработки корпоративных информационных систем», «3D моделирование», «Реинжиниринг и управление бизнес-процессами», «Экономическая безопасность в корпоративных информационных системах», «Интеллектуальные информационные системы», «Стандартизация, сертификация и управление качеством программного обеспечения», «Экспертные системы (техника и технология проектирования)».</p>
                    <h4>Основные научные направления кафедры:</h4>
                    <ul>
                        <li>постановка, разработка и решение задач управления и обеспечения безопасности на основе применения современных информационных технологий и информационных систем (реинжиниринг бизнес-процессов, имитационное моделирование, интеллектуальные информационные системы);</li>
                        <li>разработка, проектирование, внедрение и использование корпоративных информационных систем в интересах управления и обеспечения безопасности на основе современных информационных технологий.</li>
                    </ul>
                    <p>Кафедра успешно вовлекает в научную работу своих студентов, о чем свидетельствуют призовые места, которые они занимают на научных и практических конференциях, олимпиадах и конкурсах всех уровней: международная олимпиада в сфере информационных технологий «IT-Планета»; региональный студенческий конкурс на лучшую дипломную (выпускную квалификационную) работу выпускников высших учебных заведений (г. Курск) – 4 диплома I степени и 2 диплома II степени и мн. др.</p>
                    <h4>Заведующий кафедрой:</h4>
                    <div class="row">
                        <div class="col-md-4"><img src="/images/cathedras/maslov-s.jpg" class="img-responsive static-image" alt=""/></div>
                        <div class="col-md-8">
                            <h5>д.т.н., профессор Маслов Олег Николаевич</h5>
                            <p>тел.: (846) 228-00-36</p>
                            <p>e-mail: maslov@psuti.ru</p>
                            <p>адрес: Россия, 443090, г.Самара, Московское шоссе, 77, ПГУТИ, корп.2, комн.5-06</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="7" class="row">
                <div class="col-md-6 col-md-offset-3 about-info">
                    <h5 class="text-center">Кафедра "Цифровой экономики" (ЦЭ)</h5>
                    <p>Образована в 2017 году в результате объединения кафедры Электронной коммерции и кафедры Экономики и организации производства. Кафедра Цифровой экономики является одной из передовых кафедр на территории РФ и СНГ по подготовке высокопрофессиональных специалистов в области цифровой трансформации бизнеса, электронной коммерции и инноваций, внося тем самым существенный вклад в формирование кадрового потенциала будущего по направлениям подготовки:</p>
                    <ul>
                       <li>27.03.05 Инноватика (уровень бакалавриата);</li>
                       <li>38.03.05 Бизнес-информатика (уровень бакалавриата).</li>
                    </ul>
                    <h4>Кафедра Цифровой экономики совместно и по заказу крупнейших организаций региона и страны выполняет различные научно-исследовательские работы:</h4>
                    <ul>
                        <li>анализ развития электронной коммерции в Самарской области (в рамках первого международного исследования рынка электронной коммерции СНГ, выполненного совместно с PricewaterhouseCoopers, фондом «Общественное мнение», ГУ «Высшая школа экономики» и др.);</li>
                        <li>разработка концепции построения системы поддержки принятия решений по управлению противопаводковыми мероприятиями с использованием геоинформационных технологий (по заказу ЗАО «ВолгаСпецСтрой»);</li>
                        <li>методика оценки веб-сайтов представительных органов власти Самарской области (по заказу Самарской Губернской Думы);</li>
                        <li>разработка инвестиционного проекта «Водоснабжение и водоотведение южной территории Волжского района и обеспечение волжской водой южных районов Самарской области» (по заказу Администрации муниципального района Волжский Самарской области).</li>
                    </ul>
                    <p>Кафедра успешно вовлекает в научную работу своих студентов, о чем свидетельствуют призовые места, которые они занимают на научных и практических конференциях, олимпиадах и конкурсах всех уровней: Всероссийская студенческая премия «Золотой лев России», 1 место на международном конкурсе «MODERN TRIZ» и мн. др. Кафедра реализует олимпиадное направление ПГУТИ «1С:Бухгалтерия 8». Кроме основной деятельности кафедра Цифровой экономики развивает сотрудничество с ВУЗами других регионов РФ (РЭУ имени Плеханова, СибГУТИ и др.) и стран: Вильнюсский технический университет (Литва), Берлинский технический университет (Германия), Университет Никосии (Кипр) и т.д.<br>Кафедра активно участвует в программах международного обмена в рамках: программ двойных дипломов, международного проекта Ecommis, международного проекта Promeng и др.</p>
                    <h4>Заведующий кафедрой:</h4>
                    <div class="row">
                        <div class="col-md-4"><img src="/images/cathedras/Xas.jpg" class="img-responsive static-image" alt=""/></div>
                        <div class="col-md-8">
                            <h5>к.э.н., доцент Хасаншин Ильдар Анварович</h5>
                            <p>тел.: (846) 228-00-42</p>
                            <p>e-mail: ildar8000@mail.ru</p>
                            <p>адрес: Россия, 443090, г.Самара, Московское шоссе, 77, ПГУТИ, корп.2, комн.10-10</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="8" class="row">
                <div class="col-md-6 col-md-offset-3 about-info">
                    <h5 class="text-center">Кафедра "Связей с общественностью" (СО)</h5>
                    <p>Образована в 2006 году на базе кафедры социально-экономической теории. Основная деятельность кафедры – подготовка специалистов, владеющих современными информационными технологиями создания медиапроектов с использованием графических программ, способных продвигать коммерческие и некоммерческие проекты в электронных СМИ, управлять репутацией и формировать положительный имидж организации в сети  Интернет.
                        <br>Кафедра Связей с общественностью осуществляет подготовку высокопрофессиональных специалистов по направлению подготовки 42.03.01 Реклама и связи с общественностью (уровень бакалавриата).
                        <br> Область профессиональной деятельности выпускников включает: управление информационно-коммуникационными процессами в социальной, политической, экономической, культурной, образовательной и научной сферах; грамотное использование современных цифровых технологий в рекламе и PR; управление внутренними и внешними коммуникациями коммерческих компаний, государственных учреждений и структур. В результате освоения учебной программы студенты получают не только узкопрофильные знания в сфере рекламы и PR-технологий, но и в сфере современных цифровых технологий, экономики, маркетинга, психологии, филологии.
                        <br>В процессе обучения теоретическая часть в обязательном порядке совмещается с практической. В форме факультативных занятий проводятся мастер-классы с ведущими специалистами по рекламе и PR. Содержание образовательного процесса обеспечивает формирование способности к проектному и креативному мышлению, которое определяет в дальнейшем профессиональную успешность и конкурентоспособность наших выпускников на рынке.
                        <br>Кафедра успешно вовлекает в научную работу своих студентов, о чем свидетельствуют призовые места, которые они занимают на научных и практических конференциях, олимпиадах и конкурсах всех уровней: Национальная премия в области развития общественных связей «Серебряный лучник» и мн. др.</p>

                    <h4>Заведующий кафедрой:</h4>
                    <div class="row">
                        <div class="col-md-4"> <img src="/images/cathedras/andronova.jpg" class="img-responsive static-image" alt=""/></div>
                        <div class="col-md-8">
                            <h5>д.п.н., профессор Андронова Ирина Владимировна</h5>
                            <p>тел.: (846) 228-00-65</p>
                            <p>e-mail: m838om@mail.ru</p>
                            <p>адрес: Россия, 443090, г.Самара, Московское шоссе, 77, ПГУТИ, корп.2, комн.2-20</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="9" class="row">
                <div class="col-md-6 col-md-offset-3 about-info">
                    <h5 class="text-center">Кафедра "Инженерии знаний" (ИЗ)</h5>
                    <p>Кафедра Инженерии знаний (ИЗ) была образована в 1992 году в Институте проблем управления сложными системами Российской академии наук (ИПУСС РАН) на основании совместного приказа ПГУТИ и Самарского филиала Института машиноведения РАН им. А.А. Благонравова для подготовки специалистов по «физтеховской системе».</p>
                    <h4>Кафедра ИЗ обеспечивает цифровую экономику компетентными кадрами по направлениям подготовки:</h4>
                    <ul>
                        <li>02.03.03 Математическое обеспечение и администрирование информационных систем (уровень бакалавриата);</li>
                        <li>09.03.01 Информатика и вычислительная техника (уровень бакалавриата).</li>
                    </ul>
                    <p>Кафедра расположена на территории ИПУСС РАН, где проводятся лекционные, лабораторные и практические занятия для студентов 3 и 4 курсов. В своей работе кафедра использует оборудование учебных и научных лабораторий ИПУСС РАН.<br>
                        На 3 курсе студенты привлекаются к исследовательской работе, тематика которой является основой для выпускных квалификационных работ и научных докладов на ежегодных студенческих конференциях ПГУТИ, где ежегодно практически все студенты 3 и 4 курсов сообщают о результатах своей работы на секции «Инженерия знаний».
                        <br> В учебном процессе на кафедре заняты высококвалифицированные преподаватели – 2 доктора и 2 кандидата наук; разработаны учебники, учебные пособия и методические указания.
                        <br> Выпускники базовой кафедры являются источником обновления кадрового состава исследователей ИПУСС РАН (сейчас почти треть научного и инженерного персонала ИПУСС РАН – выпускники кафедры разных лет, в том числе директор института – д.т.н. С.Ю. Боровик), занимают ответственные посты в крупных российских компаниях, IT-отделах коммерческих банков и т.п.</p>
                    <h4>Заведующий кафедрой:</h4>
                    <div class="row">
                        <div class="col-md-4"> <img src="/images/cathedras/cmirnov.jpg" class="img-responsive static-image" alt=""/></div>
                        <div class="col-md-8">
                            <h5>д.т.н., доцент Смирнов Сергей Викторович</h5>
                            <p>тел.: (846) 333-27-70</p>
                            <p>сайт: http://www.iccs.ru/psuti_ke/psuti_ke.html</p>
                            <p>адрес: г. Самара, ул. Садовая, д. 61</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="clearfix space70"></div>
    <!-- FOOTER -->
    <footer id="footer2">
        <div class="container">
            <div class="row" style="padding-left: 5%">

                <div class="col-md-2">
                    <h3 th:utext="${ItemHeader8.getName()}" th:style="${ItemHeader8.getStyles()}"></h3>
                    <div class="top-bar">
                        <ul>
                            <li class="tb-info">
                                <a data-dialog2="somedialog2" class="trigger">
                                    <i class="fa fa-map-marker"></i>
                                    <span class="navigation-YK">Мы находимся <br><em class="navigation-YK">Яндекс карты</em></span>
                                </a>
                            </li>
                            <li class="tb-info">
                                <a data-dialog1="somedialog1" class="trigger">
                                </a>
                            </li>
                            <li>
                                <a style="display: none" data-dialog="somedialog" class="trigger button btn-xs color"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <h3 th:utext="${ItemHeader9.getName()}" th:style="${ItemHeader9.getStyles()}"></h3>
                    <p th:utext="${ItemHeader9_1.getName()}" th:style="${ItemHeader9_1.getStyles()}"></p>
                    <form class="newsletter">
                        <input type="text" th:placeholder="${ItemHeader9_2.getName()}" th:style="${ItemHeader9_2.getStyles()}">
                        <button type="submit"><i class="fa fa-paper-plane"></i></button>
                    </form>
                </div>

                <!--<div class="col-md-3">
                    <h3 th:text="${ItemHeader9.getName()}"></h3>
                    <ul class="f-news">
                        <li th:each="subtitle : ${subtitles}">
                            <a th:href="${subtitle.getUrlHref()}" th:text="${subtitle.getName()}"><i class="fa fa-angle-right"></i></a>
                        </li>
                    </ul>
                </div>-->

                <div class="col-md-3">
                    <h3 th:utext="${ItemHeader10.getName()}" th:style="${ItemHeader10.getStyles()}"></h3>
                    <div class="site-fist"> <a th:href="${ItemHeader10_1.getUrlHref()}" th:title="${ItemHeader10_1.getName()}" th:style="${ItemHeader10_1.getStyles()}"><img th:src="@{'/main/picture/' + ${ItemHeader10_1.getIdPicture()}}" class="img-responsive" alt="" ></a> </div>
                    <div class="site-fist"> <a th:href="${ItemHeader10_2.getUrlHref()}" th:title="${ItemHeader10_2.getName()}" th:style="${ItemHeader10_2.getStyles()}"><img th:src="@{'/main/picture/' + ${ItemHeader10_2.getIdPicture()}}" class="img-responsive" alt="" ></a> </div>
                    <div class="site-fist"> <a th:href="${ItemHeader10_3.getUrlHref()}" th:title="${ItemHeader10_3.getName()}" th:style="${ItemHeader10_3.getStyles()}"><img th:src="@{'/main/picture/' + ${ItemHeader10_3.getIdPicture()}}" class="img-responsive" alt="" ></a> </div>
                </div>

                <div class="col-md-3">
                    <h3 th:utext="${ItemHeader12.getName()}" th:style="${ItemHeader12.getStyles()}"></h3>
                    <div class="row">
                        <div class="big-logo"> <a th:href="${ItemHeader12_1.getUrlHref()}" th:title="${ItemHeader12_1.getName()}" th:style="${ItemHeader12_1.getStyles()}"><img th:src="@{'/main/picture/' + ${ItemHeader12_1.getIdPicture()}}" class="img-responsive" alt="" ></a> </div>
                    </div>
                    <div class="row" >
                        <div class="site-fist" > <a th:href="${ItemHeader12_2.getUrlHref()}" th:title="${ItemHeader12_2.getName()}" th:style="${ItemHeader12_2.getStyles()}"><img th:src="@{'/main/picture/' + ${ItemHeader12_2.getIdPicture()}}" class="img-responsive" alt="" ></a> </div>
                        <div class="site-fist" > <a th:href="${ItemHeader12_3.getUrlHref()}" th:title="${ItemHeader12_3.getName()}" th:style="${ItemHeader12_3.getStyles()}"><img th:src="@{'/main/picture/' + ${ItemHeader12_3.getIdPicture()}}" class="img-responsive" alt="" ></a> </div>
                        <div class="site-fist" > <a th:href="${ItemHeader12_4.getUrlHref()}" th:title="${ItemHeader12_4.getName()}" th:style="${ItemHeader12_4.getStyles()}"><img th:src="@{'/main/picture/' + ${ItemHeader12_4.getIdPicture()}}" class="img-responsive" alt="" ></a> </div>
                        <div class="site-fist" > <a th:href="${ItemHeader12_5.getUrlHref()}" th:title="${ItemHeader12_5.getName()}" th:style="${ItemHeader12_5.getStyles()}"><img th:src="@{'/main/picture/' + ${ItemHeader12_5.getIdPicture()}}" class="img-responsive" alt="" ></a> </div>
                        <div class="site-fist" > <a th:href="${ItemHeader12_6.getUrlHref()}" th:title="${ItemHeader12_6.getName()}" th:style="${ItemHeader12_6.getStyles()}"><img th:src="@{'/main/picture/' + ${ItemHeader12_6.getIdPicture()}}" class="img-responsive" alt="" ></a> </div>
                    </div>
                </div>
                <!--<div class="col-md-3">
                    <img th:src="${logotip.getUrlPicture()}" class="img-responsive" alt=""/>
                </div>-->
            </div>
        </div>
        <div class="footer-bottom container">
            <div class="row">
                <div class="col-md-6">
                    <p th:utext="${ItemHeader11.getName()}" th:style="${ItemHeader11.getStyles()}"></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER -->
</div>

<div id="somedialog2" class="dialog">
    <div class="dialog__overlay"></div>
    <div class="dialog__content">
        <div class="contact-pop">
            <div class="row">
                <div class="col-md-6">
                    <div id="map"></div>
                </div>
                <div class="col-md-6 pop-contact">
                    <ul class="contact-info">
                        <li>
                            <p><strong th:utext="${DialogItem1.getName()}" th:style="${DialogItem1.getStyles()}"><i class="fa fa-map-marker"></i></strong> <span th:utext="${DialogItem1_1.getName()}" th:style="${DialogItem1_1.getStyles()}"></span></p>
                        </li>
                        <li>
                            <p><strong th:utext="${DialogItem2.getName()}" th:style="${DialogItem2.getStyles()}"><i class="fa fa-map-marker"></i></strong> <span th:utext="${DialogItem2_1.getName()}" th:style="${DialogItem2_1.getStyles()}"></span></p>
                        </li>
                        <li>
                            <p><strong th:utext="${DialogItem3.getName()}" th:style="${DialogItem3.getStyles()}"><i class="fa fa-envelope"></i></strong> <span><a th:utext="${DialogItem3_1.getName()}" th:style="${DialogItem3_1.getStyles()}" th:href="${DialogItem3_1.getUrlHref()}"></a></span></p>
                        </li>
                        <li>
                            <p><strong th:utext="${DialogItem4.getName()}" th:style="${DialogItem4.getStyles()}"><i class="fa fa-phone"></i></strong> <span th:utext="${DialogItem4_1.getName()}" th:style="${DialogItem4_1.getStyles()}"></span></p>
                        </li>
                    </ul>
                </div>
            </div>
            <button class="action b-close" data-dialog-close ><i class="fa fa-times"></i></button>
        </div>
    </div>
</div>

<!-- Javascript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/navigation/jquery.sticky.js"></script>
<script src="/js/flexslider/jquery.flexslider.js"></script>

<!--sds-->
<script src="/js/navigation/jquery.easing.js"></script>
<script src="/js/navigation/scroll.js"></script>

<script src="/js/owl-carousel/owl.carousel.min.js"></script>
<script src="/js/isotope/isotope.pkgd.js"></script>
<script src="/js/navigation/jquery.sticky.js"></script>
<script src="/js/superfish/js/hoverIntent.js"></script>
<script src="/js/superfish/js/superfish.js"></script>

<script src="/js/jquery.bpopup.js"></script>
<script src="/js/pikaday/pikaday.js"></script>
<script src="/js/dialogFx.js"></script>
<script src="/js/dialog-js.js"></script>
<script src="/js/classie.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<!---->
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script src="/js/gmap2.js"></script>
<script src="/js/script.js"></script>
<script src="/js/booking.js"></script>
<script>
    function ScrollTo(name) {
        ScrollToResolver(document.getElementById(name));
    }

    function ScrollToResolver(elem) {
        var jump = parseInt(elem.getBoundingClientRect().top * .2);
        document.body.scrollTop += jump;
        document.documentElement.scrollTop += jump;
        if (!elem.lastjump || elem.lastjump > Math.abs(jump)) {
            elem.lastjump = Math.abs(jump);
            setTimeout(function() {
                ScrollToResolver(elem);
            }, "20");
        } else {
            elem.lastjump = null;
        }
    }
</script>
</body>
</html>