<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:utext="${characteristicEmployeeHead.getHtmlCode()}"></head>
<body class="multi-page">

<div id="wrapper" class="wrapper">
    <!-- HEADER -->
    <div th:replace="templates :: headerUser"></div>
    <div th:insert="templates :: headerUserInsertSearch"></div>

    <!-- INNER CONTENT -->
    <section id="content" style="margin-top:5%">
        <div class="container employeeChar">
            <div class="row" th:object="${employee}">
                <div class="col-md-6">
                    <img th:src="@{'/employees/picture/' + ${employee.getIdPictureMajor()}}" class="img-responsive" alt=""/>
                </div>
                <div class="col-md-6 about-info">
                    <h5 th:utext="${employee.getName()}"></h5>
                    <h4 th:utext="${employee.getPost()}"></h4>
                    <div th:switch="${employee.getEmail()}">
                        <p th:case="''" th:utext="${employee.getPhone()}"></p>
                        <p th:case="*" th:utext="${employee.getPhone()} + ', ' + ${employee.getEmail()}"></p>
                    </div>
                    <p th:utext="${employee.getQualificationDetailed()}"></p>
                    <p th:utext="${employee.getCharacteristic()}"></p>
                </div>
                </div>
            </div>
    </section>

    <div class="clearfix space70"></div>
    <!-- FOOTER -->
    <div th:replace="templates :: footerUser"></div>
    <!-- FOOTER -->
</div>

<div th:replace="templates :: footerUserInsertMap"></div>

<!-- Javascript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/classie.js"></script>
<script src="/js/masonry.pkgd.min.js"></script>
<script src="/js/superfish/js/hoverIntent.js"></script>
<script src="/js/superfish/js/superfish.js"></script>
<script src="/js/dialogFx.js"></script>
<script src="/js/dialog-js.js"></script>

<!---->
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script src="/js/gmap2.js"></script>
<script src="/js/script.js"></script>
</body>
</html>