<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:utext="${deanTeamHead.getHtmlCode()}"></head>
<body class="index2">

<div id="wrapper" class="wrapper">
    <!-- HEADER -->
    <div th:replace="templates :: headerUser"></div>
    <div th:insert="templates :: headerUserInsertSearch"></div>

    <section id="content">
        <div class="container-fluid">
            <div class="page_header page_header2 text-center">
                <h2 th:utext="${deanTeamName.getName()}"></h2>
            </div>
            <div class="row prepod" th:each="employee : ${deanTeams}">
                <div class="pre" th:if="${employee.getPinNumber()} % 2 != 0">
                    <div class="col-md-4 left-teach inf2">
                        <p th:utext="${employee.getQualificationBriefly()}"></p>
                        <p th:utext="${employee.getPhone()}"></p>
                        <p th:utext="${employee.getEmail()}"></p>
                        <p th:utext="${employee.getCurator()}"></p>
                    </div>
                    <div class="col-md-3 col-md-push-2 photo" style="margin-left:-15% ">
                        <a th:href="'/deanTeams/' + ${employee.getId()}"><img th:src="@{'/employees/picture/' + ${employee.getIdPictureMinor()}}" class="img-responsive static-image" alt=""/></a>
                    </div>
                    <div class="col-md-4 col-md-push-2 about-info right-teach inf1">
                        <h5 th:utext="${employee.getName()}"></h5>
                        <h4 th:utext="${employee.getPost()}"></h4>

                    </div>
                </div>

                <div class="pre" th:if="${employee.getPinNumber()} % 2 == 0">

                    <div class="col-md-3 col-md-push-6 photo" style="margin-left:-15%">
                        <a th:href="'/deanTeams/' + ${employee.getId()}"><img th:src="@{'/employees/picture/' + ${employee.getIdPictureMinor()}}" class="img-responsive static-image" alt=""/></a>
                    </div>
                    <div class="col-md-4 col-md-pull-1 about-info left-teach inf1">
                        <h5 th:utext="${employee.getName()}"></h5>
                        <h4 th:utext="${employee.getPost()}"></h4>
                    </div>
                    <div class="col-md-4 col-md-push-2 inf2">
                        <p th:utext="${employee.getQualificationBriefly()}"></p>
                        <p th:utext="${employee.getPhone()}"></p>
                        <p th:utext="${employee.getEmail()}"></p>
                        <p th:utext="${employee.getCurator()}"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="clearfix space70"></div>
    <!-- FOOTER -->
    <div th:replace="templates :: footerUser"></div>
    <!-- FOOTER -->
</div>

<div th:replace="templates :: footerUserInsertMap"></div>

<!-- Javascript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/classie.js"></script>
<script src="/js/masonry.pkgd.min.js"></script>
<script src="/js/superfish/js/hoverIntent.js"></script>
<script src="/js/superfish/js/superfish.js"></script>
<script src="/js/dialogFx.js"></script>
<script src="/js/dialog-js.js"></script>

<!---->
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script src="/js/gmap2.js"></script>
<script src="/js/script.js"></script>
</body>
</html>