<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:utext="${diplomasPhotoHead.getHtmlCode()}"></head>
<body class="multi-page">

<div id="wrapper" class="wrapper">
    <!-- HEADER -->
    <div th:replace="templates :: headerUser"></div>
    <div th:insert="templates :: headerUserInsertSearch"></div>

    <!-- SHOP CONTENT -->
    <section id="content">
        <div class="content-blog">
            <div class="container plus-photo">
                <div class="row">
                    <div class="page_header text-center">
                        <h2>Грамоты и дипломы</h2>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div id="shop-mason" class="grid shop-mason-4col">
                                <div th:each="diplomPicture : ${resultDiplomas}" class="grid-item">
                                    <div class="product">
                                        <div class="product-thumb">
                                            <img th:src="@{'/main/picture/' + ${diplomPicture.getId()}}" class="img-responsive" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="page_nav" th:object="${pageCount}">

                                <a th:href="@{'/faculty/diplomasPhoto/page/1'}" style="float: left;">
                                    <i class="fa fa-angle-left"></i>
                                    <i class="fa fa-angle-left"></i>
                                </a>

                                <a th:href="@{'/faculty/diplomasPhoto/page/' + ${firstPage - 1}}" style="float: left;">
                                    <i class="fa fa-angle-left"></i>
                                </a>

                                <a style="float: left;" id="firstPage" th:object="${firstPage}" th:utext="${firstPage}" th:href="@{'/faculty/diplomasPhoto/page/' + ${firstPage}}" class="active"></a>

                                <div style="float: left;" th:if="${pageCount - firstPage - 1 >= 0}">
                                    <a id="secondPage" th:utext="${firstPage + 1}" th:href="@{'/faculty/diplomasPhoto/page/' + ${firstPage + 1}}"></a>
                                </div>

                                <div style="float: left;" th:if="${pageCount - firstPage - 2 >= 0}">
                                    <a id="thirdPage" th:utext="${firstPage + 2}" th:href="@{'/faculty/diplomasPhoto/page/' + ${firstPage + 2}}"></a>
                                </div>

                                <div style="float: left;" th:if="${pageCount > firstPage + 2}">
                                    <a style="float: left;" class="no-active">...</a>
                                    <a style="float: left;" th:utext="${pageCount}" th:href="@{'/faculty/diplomasPhoto/page/' + ${pageCount}}"></a>
                                </div>

                                <div style="float: left;" th:if="${pageCount >= firstPage + 1}">
                                    <a th:href="@{'/faculty/diplomasPhoto/page/' + ${firstPage + 1}}" style="float: left;">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </div>

                                <div style="float: left;" th:if="${pageCount < firstPage + 1}">
                                    <a th:href="@{'/faculty/diplomasPhoto/page/' + ${pageCount}}" style="float: left;">
                                        <i class="fa fa-angle-right"></i>
                                    </a>

                                <a style="float: left;" th:href="@{'/faculty/diplomasPhoto/page/' + ${pageCount}}">
                                    <i class="fa fa-angle-right"></i>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                            <!-- End Pagination -->

                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="clearfix space70"></div>
    <!-- FOOTER -->
    <div th:replace="templates :: footerUser"></div>
    <!-- FOOTER -->
</div>

<div th:replace="templates :: footerUserInsertMap"></div>


<div id="somedialog2" class="dialog">
    <div class="dialog__overlay"></div>
    <div class="dialog__content">
        <div class="contact-pop">
            <div class="row">
                <div class="col-md-6">
                    <div id="map"></div>
                </div>
                <div class="col-md-6 pop-contact">
                    <ul class="contact-info">
                        <li>
                            <p><strong th:utext="${DialogItem1.getName()}" th:style="${DialogItem1.getStyles()}"><i class="fa fa-map-marker"></i></strong> <span th:utext="${DialogItem1_1.getName()}" th:style="${DialogItem1_1.getStyles()}"></span></p>
                        </li>
                        <li>
                            <p><strong th:utext="${DialogItem2.getName()}" th:style="${DialogItem2.getStyles()}"><i class="fa fa-map-marker"></i></strong> <span th:utext="${DialogItem2_1.getName()}" th:style="${DialogItem2_1.getStyles()}"></span></p>
                        </li>
                        <li>
                            <p><strong th:utext="${DialogItem3.getName()}" th:style="${DialogItem3.getStyles()}"><i class="fa fa-envelope"></i></strong> <span><a th:utext="${DialogItem3_1.getName()}" th:style="${DialogItem3_1.getStyles()}" th:href="${DialogItem3_1.getUrlHref()}"></a></span></p>
                        </li>
                        <li>
                            <p><strong th:utext="${DialogItem4.getName()}" th:style="${DialogItem4.getStyles()}"><i class="fa fa-phone"></i></strong> <span th:utext="${DialogItem4_1.getName()}" th:style="${DialogItem4_1.getStyles()}"></span></p>
                        </li>
                    </ul>
                </div>
            </div>
            <button class="action b-close" data-dialog-close ><i class="fa fa-times"></i></button>
        </div>
    </div>
</div>

<!-- Javascript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/classie.min.js"></script>
<script src="/js/superfish/js/hoverIntent.js"></script>
<script src="/js/superfish/js/superfish.min.js"></script>
<script src="/js/dialogFx.min.js"></script>
<script src="/js/dialog-js.min.js"></script>
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous" defer></script>
<script src="/js/gmap2.min.js"></script>
<script src="/js/script.min.js"></script>
<script src="/js/masonry.pkgd.min.js"></script>
<script>
    $(window).on('load',function() {
        var $container = $('#shop-mason');
        $container.masonry({
            itemSelector: '.grid-item'
        });
        var $optionSets = $('#portfolio .folio-filter'),
            $optionLinks = $optionSets.find('a');
        $optionLinks.on('click', function() {
            var $this = $(this);
            if ($this.hasClass('selected')) {
                return false;
            }
            var $optionSet = $this.parents('.folio-filter');
            $optionSet.find('.selected').removeClass('selected');
            $this.addClass('selected');
            var options = {},
                key = $optionSet.attr('data-option-key'),
                value = $this.attr('data-option-value');
            value = value === 'false' ? false : value;
            options[key] = value;
            if (key === 'layoutMode' && typeof changeLayoutMode === 'function') {
                changeLayoutMode($this, options);
            } else {
                $container.masonry(options);
            }
            return false;
        });
    });
</script>

</body>
</html>