<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:utext="${enabledAccountHead.getHtmlCode()}"></head>

<body class="multi-page">

<div id="wrapper" class="wrapper">
    <!-- HEADER -->
    <div th:replace="templates :: headerUser"></div>
    <div th:insert="templates :: headerUserInsertSearch"></div>

<div id="notfound">
    <div class="notfound-bg"></div>
    <div class="notfound">
        <input type="checkbox" name="c1" id="c1" />
        <label for="c1"></label>
        <h2 th:text="${headerAnswer}"></h2>
        <p th:text="${textAnswer}"></p>
        <a href="/main">Вернуться на главную страницу</a>
    </div>
</div>
    <div th:replace="templates :: footerUser"></div>
</div>
<div th:replace="templates :: footerUserInsertMap"></div>
<!-- Javascript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/classie.min.js"></script>
<script src="/js/superfish/js/hoverIntent.js"></script>
<script src="/js/superfish/js/superfish.js"></script>
<script src="/js/dialogFx.min.js"></script>
<script src="/js/dialog-js.min.js"></script>
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous" defer></script>
<script src="/js/gmap2.min.js"></script>
<script src="/js/script.min.js"></script>
</body>
</html>