<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Для жени</title>
</head>
<body>
Женя должен сделать страницу, чтобы уведомить пользователя, что он подтвердил почту!!
<br>
Также это страница будет и для подписчиков, что они успешно подписались и им отправилось письмо на почту с подтвердждением и (повторной отправки, возможно не нужно????)
<br>
Также это страница будет уведомлением и для отписки пользователя от новостей
<br>
Структура этого html будет меняться от thymeleaf
<br>

</body>
</html>