<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>О факультете</title>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.png">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/js/superfish/css/megafish.css" media="screen">
    <link rel="stylesheet" href="/js/superfish/css/superfish.css" media="screen">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/light.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/studentStyle.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Modernizer -->
    <script src="/js/modernizr.custom.js"></script>

</head>
<body class="multi-page">

<div id="wrapper" class="wrapper">
    <!-- HEADER -->
    <div th:replace="templates :: headerUser"></div>
    <div th:insert="templates :: headerUserInsertSearch"></div>

    <!-- BANER -->
   <div class="container-fluid no-padding" style="background: black">
        <div style="position: relative">
            <div class="item" th:each="picture : ${slider}">
                    <img th:src="@{'/main/picture/' + ${picture.getId()}}" th:style="${picture.getStyles()}" class="img-responsive max-wid" alt=""/>
            </div>
        </div>
    </div>

    <section id="content" >
        <div class="page_header page_header2 text-center">
            <h2>О факультете</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="tab-wrap">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1-1" data-toggle="tab">О факультете</a></li>
                            <li><a href="#tab1-2" data-toggle="tab">Научные направления</a></li>
                            <li><a href="#tab1-3" data-toggle="tab">Направления для бакалавров</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1-1">
                                <p>Факультет «Информационных систем и технологий» (ИСТ) был преобразован в начале 2000 годов из факультета «Экономики, телекоммуникаций и информатики». В состав факультета входят семь кафедр, где работают 97 высококвалифицированных преподавателей, среди которых 12 докторов и 58 кандидатов наук. Профессорско-преподавательский состав кафедр факультета активно работает над совершенствованием учебного процесса, повышением качества образования, осуществляет организацию и проведение научных исследований.</p>
                                <p>Основная цель факультета - подготовка специалистов, обеспечивающих переход к современному информационному обществу, в котором информационные системы и технологии оказывают определяющее влияние не только на способ производства продуктов и услуг, но и на социальную структуру общества, экономику и политику.</p>
                                <p>Студенты и выпускники факультета ИСТ призваны решать самые актуальные проблемы в инфокоммуникационной области. За время своего существования факультет подготовил свыше 2 тысяч специалистов, которые успешно трудятся в сфере информационных технологий как в Самарской области, так и за ее пределами. Наибольший вклад в развитие факультета внесли Тяжев А.И., д-р техн. наук, профессор; Кораблин М.А., д-р техн. наук, профессор; Тарасов В.Н., д-р техн. наук, профессор; Димов Э.М., д-р техн. наук, профессор; Маслов О.Н., д-р техн. наук, профессор; Юрасов А.В., д-р эконом. наук, доцент; Салмин А.А., канд. техн. наук, доцент и мн.др.</p>
                                <p>В настоящее время на факультете обучается свыше 1000 студентов очной формы обучения. Эта цифра включает в себя студентов, обучающихся как на бюджетной, так и на контрактной основах.</p>
                                <p>Студенты факультета активно принимают участие и занимают высокие призовые места в различных научно-технических школах, семинарах, конференциях и олимпиадах в сфере IT разного уровня.</p>
                                <p>Факультет информационных систем и технологий располагает современными оснащенными учебными лабораториями и специализированными кабинетами, в числе которых центр информационных образовательных технологий, лаборатория цифровой трансформации бизнеса и мн.др. Представленные лаборатории оснащены современным оборудованием и программным обеспечением, позволяющим обеспечить не только учебный процесс, но и проведение научных исследований.</p>
                            </div>
                            <div class="tab-pane list-marker" id="tab1-2">
                                <ul>
                                    <li>проектирование и моделирование компьютерных сетей;</li>
                                    <li>системы реального времени;</li>
                                    <li>геоинформационные системы;</li>
                                    <li>теория языков программирования и методы трансляции;</li>
                                    <li>методы и средства защиты компьютерной информации;</li>
                                    <li>проектирование интеллектуальных информационных систем;</li>
                                    <li>разработка информационной технологии компьютерного обучения;</li>
                                    <li>разработка информационной технологии исследования организационно - экономических систем;</li>
                                    <li>анализ методов и средств обработки данных;</li>
                                    <li>разработка программно-аппаратных средств для систем контроля и управления;</li>
                                    <li>автоматизированные системы управления ресурсами предприятия (ERP-системы);</li>
                                    <li>интернет-трейдинг;</li>
                                    <li>электронные платежные системы;</li>
                                    <li>автоматизированные системы финансового анализа и бизнес-планирования;</li>
                                    <li>интернет-маркетинг и др.</ul>
                            </div>
                            <div class="tab-pane list-marker" id="tab1-3">
                                <ul>
                                    <li>02.03.03 - Математическое обеспечение и администрирование информационных систем, профиль: Технология программирования</li>
                                    <li>09.03.01 - Информатика и вычислительная техника, профиль: Программное обеспечение средств вычислительной техники и автоматизированных систем</li>
                                    <li>09.03.02 - Информационные системы и технологии, профиль: Информационные системы и технологии</li>
                                    <li>09.03.03 - Прикладная информатика, профиль: Прикладная информатика в экономике</li>
                                    <li>09.03.04 - Программная инженерия, профиль:  Разработка программно-информационных систем</li>
                                    <li>27.03.04 - Управление в технических системах, профиль: Управление и информатика в технических системах</li>
                                    <li>27.03.05 - Инноватика, профиль: Управление инновациями</li>
                                    <li>38.03.05 - Бизнес-информатика, профиль: Электронный бизнес</li>
                                    <li>42.03.01 - Реклама и связи с общественностью, профиль: Реклама и связи с общественностью в отрасли</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p style="padding-left: 10%;padding-top: 20px; font-size: 20px;">С 01.11.2017 года факультет возглавляет декан Богомолова Мария Анатольевна, к.т.н., доцент.</p>
    </section>

    <div class="clearfix space70"></div>

    <!-- FOOTER -->
    <div th:replace="templates :: footerUser"></div>
    <!-- FOOTER -->
</div>

<div th:replace="templates :: footerUserInsertMap"></div>

<!-- Javascript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/classie.js"></script>
<script src="/js/masonry.pkgd.min.js"></script>
<script src="/js/superfish/js/hoverIntent.js"></script>
<script src="/js/superfish/js/superfish.js"></script>
<script src="/js/dialogFx.js"></script>
<script src="/js/dialog-js.js"></script>
<!---->
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script src="/js/gmap2.js"></script>
<script src="/js/script.js"></script>
<script type="text/javascript">
    var opac=0;
    function searchFunc() {
        var elements=document.getElementsByClassName('other-pages-search');
        if (elements.length>0){
            if(opac===0){
                opac++;
                pull(elements[0]);
            } else {
                opac--;
                push(elements[0]);
            }
        }
        function pull(el){
            var img = $('.other-pages-search');
            var marginx=(img.width()+100)/-1;
            img.animate({
                marginLeft: "+=" + marginx + "px",
                opacity: "+=1"
            }, 1500, function () {
            });
        }
        function push(el){
            var img = $('.other-pages-search');
            var marginx=(img.width()+100)/1;
            img.animate({
                marginLeft: "+=" + marginx + "px",
                opacity: "+=1"
            }, 1500, function () {
            });
        }
    }
</script>
</body>
</html>
