<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:utext="${groupListsHead.getHtmlCode()}"></head>
<body class="multi-page">

<div id="wrapper" class="wrapper">
    <!-- HEADER -->
    <div th:replace="templates :: headerUser"></div>
    <div th:insert="templates :: headerUserInsertSearch"></div>

    <!-- BANER -->
    <div class="container-fluid no-padding" style="background: black">
        <div style="position: relative">
            <div class="item" th:each="picture : ${slider}">
                <img th:src="@{'/main/picture/' + ${picture.getId()}}" th:style="${picture.getStyles()}" class="img-responsive max-wid" alt=""/>
            </div>
        </div>
    </div>

    <!-- INNER CONTENT -->
    <section id="content" th:utext="${groupListsHTMLStructure.getHtmlCode()}" style="margin-bottom: 10%"></section>

    <div class="clearfix space70"></div>
    <!-- FOOTER -->
    <div th:replace="templates :: footerUser"></div>
    <!-- FOOTER -->
</div>

<div th:replace="templates :: footerUserInsertMap"></div>

<!-- Javascript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/classie.min.js"></script>
<script src="/js/superfish/js/hoverIntent.js"></script>
<script src="/js/superfish/js/superfish.min.js"></script>
<script src="/js/dialogFx.min.js"></script>
<script src="/js/dialog-js.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous" defer></script>
<script src="/js/gmap2.min.js"></script>
<script src="/js/script.min.js"></script>
</body>
</html>