<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:utext="${groupCuratorsHead.getHtmlCode()}"></head>
<body class="multi-page">

<div id="wrapper" class="wrapper">
    <!-- HEADER -->
    <div th:replace="templates :: headerUser"></div>
    <div th:insert="templates :: headerUserInsertSearch"></div>

    <!-- BANER -->
    <div class="container-fluid no-padding" style="background: black">
        <div style="position: relative">
            <div class="item" th:each="picture : ${slider}">
                <img th:src="@{'/main/picture/' + ${picture.getId()}}" th:style="${picture.getStyles()}" class="img-responsive max-wid" alt=""/>
            </div>
        </div>
    </div>

    <!-- INNER CONTENT -->
    <section id="content">
        <div class="page_header page_header2 text-center">
            <h2>Кураторы групп</h2>
            <p>на 2018/2019 уч.год</p>
        </div>
        <div class="container">
            <div class="row">
                <div id="curators" class="col-md-8">
                    <h3 class="heading">Уважаемые студенты 1 курса и их родители!</h3>
                    <p>Для скорой и успешной адаптации к учебе в ПГУТИ к каждой студенческой группе прикреплены кураторы: куратор-преподаватель, куратор-студент.<br>У них Вы можете получить любую консультацию по вопросам, связанным с учебой в университете, общественной, научной и культурной жизни, экзаменационной сессии и мн.др.</p>
                </div>
        </div>
        </div>
        <div class="space30"></div>

        <div class="container curators-table-center">
            <div class="row">
                <div class="col-md-12" style="overflow-x: scroll">
                    <table id="mytd" style="position: relative;">
                        <tr>
                            <th>№ группы</th>
                            <th>Ф.И.О. куратора-преподавателя</th>
                            <th>Кафедра</th>
                            <th>Телефон</th>
                            <th>Ф.И.О. куратора-студента, группа</th>
                        </tr>
                        <tr th:each="curator : ${curators}">
                            <td th:utext="${curator.getGroupInUniversity()}"></td>
                            <td th:utext="${curator.getNameCuratorTeacher()}"></td>
                            <td th:utext="${curator.getNameDepartment()}"></td>
                            <td th:utext="${curator.getPhone()}"></td>
                            <td th:utext="${curator.getNameCuratorStudentAndGroup()}"></td>
                        </tr>
                        </table>
                    </div>
                </div>
            </div>
    </section>

    <div class="clearfix space70"></div>
    <div th:replace="templates :: footerUser"></div>
</div>

<div th:replace="templates :: footerUserInsertMap"></div>

<!-- Javascript -->
<script src="/js/jquery.min.js"></script>
<script>
    function resizeTable() {
        var table=document.getElementById("mytd");
        var doc=document.getElementById("mytd").offsetWidth;
        var marginx=doc/-2;
        var curators=document.getElementById("curators");
        curators.style.marginLeft=marginx+'px';
        curators.style.width=doc +'px';
        table.style.marginLeft=marginx+'px';
    }
    $(document).ready(function(){
        $(document).scroll(function(){
            resizeTable();
        });
        resizeTable();
        $(window).resize(function(){
            resizeTable();
        });
    });
</script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/classie.min.js"></script>
<script src="/js/superfish/js/hoverIntent.js"></script>
<script src="/js/superfish/js/superfish.min.js"></script>
<script src="/js/dialogFx.min.js"></script>
<script src="/js/dialog-js.min.js"></script>
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous" defer></script>
<script src="/js/gmap2.min.js"></script>
<script src="/js/script.min.js"></script>
</body>
</html>