<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:utext="${indexHead.getHtmlCode()}">
</head>
<body id="firstPage" class="multi-page">

<div id="wrapper" class="wrapper">
	<!-- HEADER -->
	<header id="header">
		<div class="navbr">
				<div class="row">
					<div class="logo-psuti" style="margin: 10px;">
						<a th:object="${logotipFIST}" th:href="${logotipFIST.getHref()}" th:style="${logotipFIST.getStyles()}"><img th:src="@{'/main/picture/' + ${logotipFIST.getId()}}" class="img-responsive"/></a>
					</div>
					<div class="col-md-9 col-xs-7">
						<div class="top-bar" style="width:100%; margin-right: 50px;">
							<ul>
								<li style="float: left;padding-right: 5px"><i class="fa fa-map-marker"></i></li>
								<li th:utext="${location.getName()}" class="tb-info"  th:style="${location.getStyles()}"></li>

								<li style="float: left;padding-right: 5px"><i class="fa fa-phone"></i></li>
								<li class="tb-info" th:object="${phone}" th:utext="${phone.getName()}" th:style="${phone.getStyles()}"></li>

								<li style="float: left;padding-right: 5px"><i class="fa fa-envelope" style="float: left;padding-right: 5px"></i></li>
								<li class="tb-info" th:object="${email}" th:utext="${email.getName()}" th:style="${email.getStyles()}"></li>
							</ul>
						</div>
					</div>
				</div>

		<div class="menu-wrap">
			<div class="row" style="margin-left: 5%;">
				<div th:object="${menuItemMobile}" th:utext="${menuItemMobile.getName()}" th:style="${menuItemMobile.getStyles()}" id="mobnav-btn"></div>
					<ul class="sf-menu" th:each="mapEntry : ${menuItems}">
						<li>
							<a class="list-to-a" th:object="${mapEntry.key}" th:href="${mapEntry.key.getUrlHref()}" th:utext="${mapEntry.key.getName()}" th:style="${mapEntry.key.getStyles()}"></a>
							<div class="mobnav-subarrow"></div>
							<ul class="is-s">
								<div class="bord" th:each="menuItemMinor : ${mapEntry.value}">
									<li th:each="menuItemHeaderInMainPage : ${menuItemMinor}">
										<a th:href="${menuItemHeaderInMainPage.getUrlHref()}" th:utext="${menuItemHeaderInMainPage.getName()}" th:style="${menuItemHeaderInMainPage.getStyles()}"></a>
									</li>
								</div>
							</ul>
						</li>
					</ul>
				<div class="logo-psuti admin" style=" float:right; margin: 15px 15px 0 0; ">
					<a onclick="searchFunc()"><img src='/images/search.png' class="img-responsive img-nohidden" /></a>
				</div>
				<div class="logo-psuti" style=" float:right; margin: 15px 0px 0 0; ">
					<a th:object="${logotipPSUTI}" th:href="${logotipPSUTI.getHref()}" th:style="${logotipPSUTI.getStyles()}"><img th:src="@{'/main/picture/' + ${logotipPSUTI.getId()}}"  class="img-responsive"/></a>
				</div>
			</div>
		</div>
		</div>
	</header>
	<div id="search" class="other-pages-search">
		<form th:action="${'/search'}" th:object="${searchword}" class="search-block ">
			<button class="search-button " type="submit">Поиск</button>
			<input class="search-input " name="searchword" type="text" placeholder="Поиск...">
		</form>
	</div>
	<!--HEADER-->
	<div class="header heigh"></div>

	<!-- BANER -->
	<div class="container-fluid no-padding" style="background: black">
		<div style="position: relative">
			<div class="item" th:each="picture : ${slider}">
				<div class="ban">
			<a href="/mainTrend"><img th:src="@{'/main/picture/' + ${picture.getId()}}" th:style="${picture.getStyles()}" class="img-responsive max-wid" /></a>
					<a href="/mainTrend"><p>Узнать подробнее<br> о направлениях подготовки <br>...</p></a>
				</div>
			</div>
		</div>
	</div>

	<!-- Новости -->
	<section id="content" class="main-background" >
		<div class="content-blog">
			<div class="container-fluid">
				<div class="row">
					<div class="h-page-title">
						<h2 th:utext="${ItemHeader1.getName()}"></h2>
						<div class="mustache">
							<span class="sub-title" th:utext="${ItemHeader1_1.getName()}" th:style="${ItemHeader1_1.getStyles()}"></span>
						</div>
					</div>

					<div class="col-md-10" style="margin-left: 10%;">
						<div class="row">
							<div id="blog-mason" class="grid blog-mason-2col">
								<article th:each="newFaculty : ${newsOfFaculty}" class="blogpost grid-item center-block" >
									<div class="post-media img-container">
										<img th:src="@{'/main/picture/' + ${newFaculty.getIdPicture()}}" th:style="${newFaculty.getPictureStyles()}" class="img-responsive">
									</div>
									<h2 class="post-title"><a th:href="@{'/newsBlog/topic/id='+${newFaculty.getId()}}" th:utext="${newFaculty.getHeading()}" th:style="${newFaculty.getHeadingStyles()}"></a></h2>
									<div class="post-meta">
										<i class="fa fa-calendar" style="padding-right: 2%"></i><span><a th:utext="${newFaculty.getDate().toLocalDate()}" th:style="${newFaculty.getDateStyles()}"><i class="fa fa-calendar"></i></a></span>
									</div>
									<div class="post-excerpt box">
										<p th:utext="${newFaculty.getText()}" th:style="${newFaculty.getTextStyles()}"></p>
									</div>
									<script>
                                        var box = document.querySelector('.box'),
                                            text = box.innerHTML,
                                            clone = document.createElement('div');
                                        clone.style.position = 'fixed';
                                        clone.style.visibility = 'hidden';
                                        clone.style.width = box.clientWidth + 'px';
                                        clone.innerHTML = text;
                                        document.body.appendChild(clone);
                                        var l = text.length - 1;
                                        for (; l >= 0 && clone.clientHeight > box.clientHeight; --l) {
                                            clone.innerHTML = text.substring(0, l) + '...';
                                        }
                                        box.innerHTML = clone.innerHTML;
									</script>
								</article>
							</div>
						</div>

						<div class="clearfix"></div>
						<a th:href="${ItemButton1.getUrlHref()}" class="main-btn" th:utext="${ItemButton1.getName()}" th:style="${ItemButton1.getStyles()}"></a>
						<!-- End Pagination -->
					</div>
				</div>
			</div>
		</div>
	</section>

	<script>
        jQuery(function ($) {
            function fix_size() {
                var images = $('.img-container img');
                images.each(setsize);

                function setsize() {
                    var img = $(this),
                        img_dom = img.get(0),
                        container = img.parents('.img-container');
                    if (img_dom.complete) {
                        resize();
                    } else img.one('load', resize);

                    function resize() {
                        if ((container.width() / container.height()) > (img_dom.width / img_dom.height)) {
                            img.width('100%');
                            img.height('auto');
                        } else {
                            img.height('100%');
                            img.width('auto');
                        }
                        var marginy=(img.height()-container.height())/-2;
                        img.css({ 'margin-top': marginy});
                        img.animate({opacity:'1'}, "swing");
                    }
                }
            }
            $(window).on('resize', fix_size);
            fix_size();
        });</script>
	<script src="/js/masonry.pkgd.min.js" ></script>
	<script>
        $(window).on('load',function() {
            var $container = $('#blog-mason');
            $container.masonry({
                itemSelector: '.grid-item'
            });
            var $optionSets = $('#portfolio .folio-filter'),
                $optionLinks = $optionSets.find('a');
            $optionLinks.on('click', function() {
                var $this = $(this);
                if ($this.hasClass('selected')) {
                    return false;
                }
                var $optionSet = $this.parents('.folio-filter');
                $optionSet.find('.selected').removeClass('selected');
                $this.addClass('selected');
                var options = {},
                    key = $optionSet.attr('data-option-key'),
                    value = $this.attr('data-option-value');
                value = value === 'false' ? false : value;
                options[key] = value;
                if (key === 'layoutMode' && typeof changeLayoutMode === 'function') {
                    changeLayoutMode($this, options);
                } else {
                    $container.masonry(options);
                }
                return false;
            });
        });
	</script>
	<!-- Учебный процесс -->
	<section id="service" class="service main-background">
		<div class="container">
			<div class="h-page-title">
				<h1 th:object="${ItemHeader2}" th:text="${ItemHeader2.getName()}" th:styles="${ItemHeader2.getStyles()}"></h1>
				<div class="mustache">
					<span><img class="img-responsive" th:src="@{'/main/picture/' + ${ItemHeaderPictureSplit.getId()}}" th:style="${ItemHeaderPictureSplit.getStyles()}"></span>
				</div>
			</div>

			<div class="main-service">
				<div class="row" th:each="mapEntry : ${educationProcess}">
					<div class="col-md-5 col-sm-6 service-left" th:style="${mapEntry.getLeftPictureStyles()}">
						<a th:href="${mapEntry.getMenuItemHeaderInMainPageLeft().getUrlHref()}">
                        <span class="ico">
                            <img class="icon_1" th:src="@{'/main/picture/' + ${mapEntry.getPicturesLeft().getId()}}" >
                            <img class="icon_2" th:src="@{'/main/picture/' + ${mapEntry.getPicturesLeft().getId()}}" >
                        </span>
						</a>
						<a th:href="${mapEntry.getMenuItemHeaderInMainPageLeft().getUrlHref()}"><span class="card-link"></span></a>
						<div class="service-info">
							<a style="display: block;height: 100%" th:href="${mapEntry.getMenuItemHeaderInMainPageLeft().getUrlHref()}" ><p th:utext="${mapEntry.getMenuItemHeaderInMainPageLeft().getName()}" th:style="${mapEntry.getMenuItemHeaderInMainPageLeft().getStyles()}"></p></a>
						</div>
					</div>


					<div class="col-md-6 col-sm-6 service-right" th:style="${mapEntry.getRightPictureStyles()}">
						<a th:href="${mapEntry.getMenuItemHeaderInMainPageRight().getUrlHref()}">
                        <span class="ico">
                            <img class="icon_1" th:src="@{'/main/picture/' + ${mapEntry.getPicturesRight().getId()}}" >
                            <img class="icon_2" th:src="@{'/main/picture/' + ${mapEntry.getPicturesRight().getId()}}" >
                        </span>
						</a>
						<a th:href="${mapEntry.getMenuItemHeaderInMainPageRight().getUrlHref()}"><span class="card-link"></span></a>
						<div class="service-info">
							<a style="display: block;height: 100%" th:href="${mapEntry.getMenuItemHeaderInMainPageRight().getUrlHref()}" ><p th:utext="${mapEntry.getMenuItemHeaderInMainPageRight().getName()}" th:style="${mapEntry.getMenuItemHeaderInMainPageRight().getStyles()}"></p></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Соц Сети -->
	<section id="pricing" class="pricing ">
		<div class="pricing-bg widgets">
			<div class="container">
				<div class="h-page-title">
					<h1 th:object="${ItemHeader3}" th:text="${ItemHeader3.getName()}" th:style="${ItemHeader3.getStyles()}"></h1>
				</div>

				<div class="main-pricing">
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 col-md-offset-1">
							<div id="firstT" class="price-block">
								<div id="firstTT" class="inner-price">
									<h3 th:object="${ItemHeader4}" th:text="${ItemHeader4.getName()}" th:style="${ItemHeader4.getStyles()}"></h3>
									<div id="vk_widget"></div>
									<script type="text/javascript" src="//vk.com/js/api/openapi.js?159"></script>
									<script>
                                        function VK_Widget_Init(){
                                            document.getElementById('vk_widget').innerHTML = '<div id="vk_groups"></div>';
                                            VK.Widgets.Group("vk_groups", {mode: 4, width: "auto", height: "400"},50489116);
                                        };

                                    </script>
                                </div>
                            </div>
                        </div>
                        <!-- InstaWidget -->
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                            <div id="secondT" class="price-block">
                                <div id="secondTT" class="inner-price">
                                    <h3 th:object="${ItemHeader5}" th:text="${ItemHeader5.getName()}"
                                        th:style="${ItemHeader5.getStyles()}"></h3>
                                    <div class='widget-content'>
                                        <div id="instafeed" style="background-color: #fff; padding: 5%;height: 400px; box-shadow: 0 0 0 1px rgba(4,47,89,0.12) inset;border-radius: 3px;cursor: default;">
											<img alt='Instagram' src='/images/insta.png'>
											<hr style='width: 100%;height: 1px;margin: 9px 0;background-color: #e5e5e5;'>
											<div class='inst-gallery'>
												<a href='https://www.instagram.com/fist.psuti/' class='inst-gallery__item--1' rel='noopener' target='_blank'>
													<img class="inst-gallery__img" src='/images/1.gif' alt='Instagram image'/>
												</a>
												<a href='https://www.instagram.com/fist.psuti/' class='inst-gallery__item--2' rel='noopener' target='_blank'>
													<img class="inst-gallery__img" src='/images/1.gif' alt='Instagram image'/>
												</a>
												<a href='https://www.instagram.com/fist.psuti/' class='inst-gallery__item--3' rel='noopener' target='_blank'>
													<img class="inst-gallery__img" src='/images/1.gif' alt='Instagram image'/>
												</a>
												<a href='https://www.instagram.com/fist.psuti/' class='inst-gallery__item--4' rel='noopener' target='_blank'>
													<img class="inst-gallery__img" src='/images/1.gif' alt='Instagram image'/>
												</a>
												<a href='https://www.instagram.com/fist.psuti/' class='inst-gallery__item--5' rel='noopener' target='_blank'>
													<img class="inst-gallery__img" src='/images/1.gif' alt='Instagram image'/>
												</a>
											</div>
											<a class="inst__btn" href='https://www.instagram.com/fist.psuti/' target='_blank'>Подписаться</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                            <div class="price-block">
                                <div class="inner-price">
                                    <h3 th:object="${ItemHeader6}" th:text="${ItemHeader6.getName()}"
                                        th:style="${ItemHeader6.getStyles()}"></h3>
                                    <div id="vk_widget1"></div>
                                    <script type="text/javascript" src="//vk.com/js/api/openapi.js?159"></script>
                                    <script>
                                        function VK_Widget_Init1(){
                                            document.getElementById('vk_widget1').innerHTML = '<div id="vk_groupss"></div>';
                                            VK.Widgets.Group("vk_groupss", {mode: 4, width: "auto", height: "400"},17785357);
                                        };

									</script>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- STATS -->
	<section id="stats">
		<div class="stats" style="position: relative">
            <div class="scroll">
			<div class="container">
				<div th:each="mapEntry : ${characterUniversity}" class="col-xs-12 col-sm-3 col-md-3">
					<h1 class="lines" th:data-count="${mapEntry.getLevel()}"></h1>
					<img th:src="@{'/main/picture/' + ${mapEntry.getIdPicture()}}">
					<h6 th:utext="${mapEntry.getName()}" th:style="${mapEntry.getStyles()}"></h6>
				</div>
				<h6 style="text-transform: none;position: absolute;bottom: 5%;left:45%">за 2020-2021 год</h6>
			</div>
            </div>
		</div>
	</section>


	<section id="home-shop" class="main-background ">
		<div class="h2-gallery" id="5">
			<div class="container">
				<div class="col-md-12">
					<div class="h-page-title">
						<h1 th:object="${ItemHeader7}" th:text="${ItemHeader7.getName()}" th:style="${ItemHeader7.getStyles()}"></h1>
					</div>
					<div class="clearfix space35"></div>

					<div id="home-shop-carousel" class="owl-carousel owl-theme" >
						<div id="Some-Container"  th:each="student : ${bestStudents}" class="grid-item text-center">
							<div class="product" >
								<div class="product-thumb">
									<li><a class="cd-signin">
										<img th:id="@{'student' + ${student.getId()}}" src="/images/1.gif" width="300" height="300" th:realsrc="@{'/main/picture/' + ${student.getIdPicture()}}" th:style="${student.getPictureStyles()}" class="img-responsive" >
										<div><span class="fa fa-search-plus"></span></div>
										<script th:inline="javascript">
                                            document.body.onclick = function(e) {
                                                var elem = e ? e.target : window.event.srcElement;
                                                while (!(elem.id || (elem == document.body))) elem = elem.parentNode;
                                                if (!elem.id) return; else id = elem.id;
                                                var rightPart =/*([[${bestStudents}]])*/ null;
                                                var srcImg=document.getElementById(id).getAttribute("src");

                                                /*<![CDATA[*/
                                                /*[# th:each="stud : ${bestStudents}"]*/
                                                rightPart = /*[[@{'/main/picture/'+${stud.getIdPicture()}}]]*/ null;
                                                if (srcImg == rightPart) {
                                                    document.getElementById("studPicture").src = /*[[@{'/main/picture/' + ${stud.getIdPicture()}}]]*/ null;
                                                    document.getElementById("studPicture").style = /*[[${stud.getPictureStyles()}]]*/ null;
                                                    document.getElementById("stud-name").innerHTML = /*[[${stud.getName()}]]*/ null;
                                                    document.getElementById("stud-name").style = /*[[${stud.getNameStyles()}]]*/ null;
                                                    document.getElementById("char").innerHTML = /*[[${stud.getCharacteristic()}]]*/ null;
                                                    document.getElementById("char").style = /*[[${stud.getCharacteristicStyles()}]]*/ null;
                                                }
                                                /*[/]*/
                                                /*]]>*/
                                         }
										</script>
									</a>
									</li>
								</div>
								<h2 class="product-title"><a th:href="${student.getUrl()}" th:text="${student.getName()}" th:style="${student.getNameStyles()}"></a></h2>
								<div class="product-price">Группа:<span th:text="${student.getGroupInUniversity()}" th:style="${student.getGroupInUniversityStyles()}"></span></div>

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="cd-user-modal">
		<div class="cd-user-modal-container">
			<div class="border-stud">
				<div class="stud-photo">
					<a><img id="studPicture" class="img-responsive" /></a>
				</div>
				<h2 id="stud-name" class="stud-name"></h2>
				<div class="text-stud">
					<p id="char"></p>
				</div>
			</div>
		</div>
	</div>


	<!-- FOOTER -->
	<div th:replace="templates :: footerUser"></div>
</div>

<div th:replace="templates :: footerUserInsertMap"></div>

<!-- Javascript -->
<script src="/js/bootstrap.min.js" defer></script>
<script src="/js/classie.min.js" defer ></script>
<script src="/js/owl-carousel/owl.carousel.min.js" defer></script>
<script src="/js/superfish/js/hoverIntent.js" defer ></script>
<script src="/js/superfish/js/superfish.min.js" defer></script>
<script src="/js/jquery.animateNumber.min.js" defer></script>
<script src="/js/dialogFx.min.js" defer></script>
<script src="/js/dialog-js.min.js" defer></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
		integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
		crossorigin="anonymous" defer></script>
<script src="/js/gmap2.min.js" defer ></script>
<script src="/js/script.min.js" defer ></script>
<script src="/js/main.min.js" defer></script>
<script src="/js/student_character.min.js" defer></script>

</body>
</html>