<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:utext="${interimControlHead.getHtmlCode()}"></head>
<body class="multi-page">

<div id="wrapper" class="wrapper">
    <!-- HEADER -->
    <div th:replace="templates :: headerUser"></div>
    <div th:insert="templates :: headerUserInsertSearch"></div>

    <!-- BANER -->
    <div class="container-fluid no-padding" style="background: black">
        <div style="position: relative">
            <div class="item" th:each="picture : ${slider}">
                <img th:src="@{'/main/picture/' + ${picture.getId()}}" th:style="${picture.getStyles()}" class="img-responsive max-wid" alt=""/>
            </div>
        </div>
    </div>

    <!-- INNER CONTENT -->
    <section id="content" class="info-doc" th:utext="${interimControlHTMLStructure.getHtmlCode()}"></section>

    <div class="clearfix space70"></div>
    <!-- FOOTER -->
    <div th:replace="templates :: footerUser"></div>
    <!-- FOOTER -->
</div>

<div th:replace="templates :: footerUserInsertMap"></div>

<!-- Javascript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/classie.js"></script>
<script src="/js/masonry.pkgd.min.js"></script>
<script src="/js/superfish/js/hoverIntent.js"></script>
<script src="/js/superfish/js/superfish.js"></script>
<script src="/js/dialogFx.js"></script>
<script src="/js/dialog-js.js"></script>
<!---->
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script src="/js/gmap2.js"></script>
<script src="/js/script.js"></script>

</body>
</html>