<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Основные направления подготовки</title>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.png">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/light.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/trends.css">
</head>

<body style="background-color: #ededf1 !important;">

 <div class="trends">
     <div class="container-fluid" >
         <div class="row" style="background: url(../images/home-page/Layer/IST.jpg);background-size: cover">
             <div class="left-trend trend" >
                 <img src="/images/home-page/blog/IST.png" alt="">
                 <p>ИНФОРМАЦИОННЫЕ СИСТЕМЫ И ТЕХНОЛОГИИ</p>
             </div>
         </div>
         <div class="row" style="background: url(../images/home-page/Layer/PO.jpg);background-size: cover">
             <div class="right-trend trend" >
                 <img src="/images/home-page/blog/PO.png" alt="">
                 <p> ИНФОРМАТИКА И ВЫЧИСЛИТЕЛЬНАЯ ТЕХНИКА</p>
             </div>
         </div>
         <div class="row" style="background: url(../images/home-page/Layer/MatOb.jpg);background-size: cover">
             <div class="left-trend trend" >
                 <img src="/images/home-page/blog/MatOb.png" alt="">
               <p>МАТЕМАТИЧЕСКОЕ ОБЕСПЕЧЕНИЕ И АДМИНИСТРИРОВАНИЕ ИНФОРМАЦИОННЫХ СИСТЕМ</p>
             </div>
         </div>
         <div class="row" style="background-image: url(../images/home-page/Layer/BuisnessInfo.jpg);background-size: cover">
             <div class="left-trend trend" >
                 <img src="/images/home-page/blog/Innovatika.png" alt="">
                 <p>ИННОВАТИКА</p>
             </div>
         </div>
         <div class="row" style="background: url(../images/home-page/Layer/PrikladInfo.jpg);background-size: cover">
             <div class="right-trend trend" >
                 <img src="/images/home-page/blog/PrikladInfo.png" alt="">
                 <p>ПРИКЛАДНАЯ ИНФОРМАТИКА</p>
             </div>
         </div>
         <div class="row" style="background: url(../images/home-page/Layer/ProgInj.jpg);background-size: cover">
             <div class="left-trend trend" >
                 <img src="/images/home-page/blog/ProgInj.png" alt="">
                 <p> ПРОГРАММНАЯ ИНЖЕНЕРИЯ</p>
             </div>
         </div>
         <div class="row" style="background: url(../images/home-page/Layer/RSO.jpg);background-size: cover">
             <div class="right-trend trend" >
                 <img src="/images/home-page/blog/уитс.png" alt="">
                 <p> УПРАВЛЕНИЕ В ТЕХНИЧЕСКИХ СИСТЕМАХ</p>
             </div>
         </div>

         <div class="row" style="background: url(../images/home-page/Layer/Innovatika.jpg);background-size: cover">
             <div class="right-trend trend" >
                 <img src="/images/home-page/blog/БИ.png" alt="">
                 <p>БИЗНЕС-ИНФОРМАТИКА</p>
             </div>
         </div>
         <div class="row lastrow" style="background: url(../images/home-page/Layer/ProgInj.jpg);background-size: cover">
             <div class="left-trend trend" >
                 <img src="/images/home-page/blog/рпис.png" alt="">
                 <p> РЕКЛАМА И СВЯЗИ С ОБЩЕСТВЕННОСТЬЮ</p>
             </div>
         </div>
     </div>
 </div>



<!-- Javascript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</body>
</html>