<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Основные направления подготовки</title>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.png">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/light.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/trends.css">
</head>

<body style="background-color: #ededf1 !important;">

 <div class="trends">
     <div class="container-fluid" >
         <div class="row" style="background: url(../images/home-page/Layer/IST.jpg);background-size: cover">
             <div id="1" class="trend btn-pop" >
                 <!--<img src="/images/home-page/blog/IST.png" alt="">-->
               <p class="btn-pop">ИНФОРМАЦИОННЫЕ СИСТЕМЫ И ТЕХНОЛОГИИ</p>
                 <div id="10" class="pop-div">
                     <img src="/images/home-page/blog/IST.png" alt="">
                     <p>SAJKFHKLASFHASLFLASKFHLASFHJLASFHALSFHl</p>
                 </div>
             </div>
         </div>
         <div class="row" style="background: url(../images/home-page/Layer/PO.jpg);background-size: cover">
             <div id="2" class="trend" >
                <!-- <img src="/images/home-page/blog/PO.png" alt="">-->
                 <p> ИНФОРМАТИКА И ВЫЧИСЛИТЕЛЬНАЯ ТЕХНИКА</p>
                 <div id="20" class="pop-div">
                     <img  src="/images/home-page/blog/PO.png" alt="">
                     <p>SAJKFHKLASFHASLFLASKFHLASFHJLASFHALSFHlSAJKFHKLASFHASLFLASKFHLASFHJLASFHALSFHlSAJKFHKLASFHASLFLASKFHLASFHJLASFHALSFHlSAJKFHKLASFHASLFLASKFHLASFHJLASFHALSFHl</p>
                 </div>
             </div>
         </div>

         <div class="row" style="background: url(../images/home-page/Layer/Innovatika.jpg);background-size: cover">
             <div id="3" class="trend" >
                <!-- <img src="/images/home-page/blog/Innovatika.png" alt="">-->
                 <p>ИННОВАТИКА</p>
                 <div id="30" class="pop-div">
                     <img  src="/images/home-page/blog/PO.png" alt="">
                     <p>SAJKFHKLASFHASLFLASKFHLASFHJLASFHALSFHlSAJKFHKLASFHASLFLASKFHLASFHJLASFHALSFHlSAJKFHKLASFHASLFLASKFHLASFHJLASFHALSFHlSAJKFHKLASFHASLFLASKFHLASFHJLASFHALSFHl</p>
                 </div>
             </div>
         </div>
         <div class="row" style="background: url(../images/home-page/Layer/RSO.jpg);background-size: cover" >
             <div id="4" class=" trend" >
                 <!--<img src="/images/home-page/blog/RSO.png" alt="">-->
                 <p> РЕКЛАМА И СВЯЗЬ С ОБЩЕСТВЕННОСТЬЮ</p>
                 <div id="40" class="pop-div">
                     <img  src="/images/home-page/blog/PO.png" alt="">
                     <p>SAJKFHKLASFHASLFLASKFHLASFHJLASFHALSFHlSAJKFHKLASFHASLFLASKFHLASFHJLASFHALSFHlSAJKFHKLASFHASLFLASKFHLASFHJLASFHALSFHlSAJKFHKLASFHASLFLASKFHLASFHJLASFHALSFHl</p>
                 </div>
             </div>
         </div>
         <div class="row" style="background: url(../images/home-page/Layer/RSO.jpg);background-size: cover">
             <div id="5" class=" trend" >
                 <!--<img src="/images/home-page/blog/уитс.png" alt="">-->
                 <p> УПРАВЛЕНИЕ В ТЕХНИЧЕСКИХ СИСТЕМАХ</p>
                 <div id="50" class="pop-div">
                     <img  src="/images/home-page/blog/PO.png" alt="">
                     <p>SAJKFHKLASFHASLFLASKFHLASFHJLASFHALSFHlSAJKFHKLASFHASLFLASKFHLASFHJLASFHALSFHlSAJKFHKLASFHASLFLASKFHLASFHJLASFHALSFHlSAJKFHKLASFHASLFLASKFHLASFHJLASFHALSFHl</p>
                 </div>
             </div>
         </div>
         <div class="row" style="background-image: url(../images/home-page/Layer/BuisnessInfo.jpg);background-size: cover">
             <div id="6" class=" trend" >
                <!-- <img src="/images/home-page/blog/BuisnessInfo.png" alt="">-->
                 <p>БИЗНЕС-ИНФОРМАТИКА</p>
                 <div id="60" class="pop-div">
                     <img  src="/images/home-page/blog/PO.png" alt="">
                     <p>SAJKFHKLASFHASLFLASKFHLASFHJLASFHALSFHlSAJKFHKLASFHASLFLASKFHLASFHJLASFHALSFHlSAJKFHKLASFHASLFLASKFHLASFHJLASFHALSFHlSAJKFHKLASFHASLFLASKFHLASFHJLASFHALSFHl</p>
                 </div>
             </div>
         </div>
         <div class="row" style="background: url(../images/home-page/Layer/MatOb.jpg);background-size: cover">
             <div id="7" class="trend" >
                 <!--<img src="/images/home-page/blog/MatOb.png" alt="">-->
                 <p>МАТЕМАТИЧЕСКОЕ ОБЕСПЕЧЕНИЕ И АДМИНИСТРИРОВАНИЕ ИНФОРМАЦИОННЫХ СИСТЕМ</p>
                 <div id="70" class="pop-div">
                     <img  src="/images/home-page/blog/PO.png" alt="">
                     <p>SAJKFHKLASFHASLFLASKFHLASFHJLASFHALSFHlSAJKFHKLASFHASLFLASKFHLASFHJLASFHALSFHlSAJKFHKLASFHASLFLASKFHLASFHJLASFHALSFHlSAJKFHKLASFHASLFLASKFHLASFHJLASFHALSFHl</p>
                 </div>
             </div>
         </div>
         <div class="row" style="background: url(../images/home-page/Layer/PrikladInfo.jpg);background-size: cover">
             <div id="8" class="trend">
                <!-- <img src="/images/home-page/blog/PrikladInfo.png" alt="">-->
                 <p>ПРИКЛАДНАЯ ИНФОРМАТИКА</p>
                 <div id="80" class="pop-div">
                     <img  src="/images/home-page/blog/PO.png" alt="">
                     <p>2</p>
                 </div>
             </div>
         </div>
         <div class="row lastrow"  style="background: url(../images/home-page/Layer/ProgInj.jpg);background-size: cover">
             <div id="9" class="trend" >
                 <!--<img src="/images/home-page/blog/ProgInj.png" alt="">-->
                 <p> ПРОГРАММНАЯ ИНЖЕНЕРИЯ</p>
                 <div id="90" class="pop-div">
                     <img src="/images/home-page/blog/PO.png" alt="">
                     <p>1</p>
                 </div>
             </div>
         </div>
     </div>
 </div>



<!-- Javascript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
    $( document ).ready(function() {
    $('.trend').click(function(){
       /* var v = $('.row .trend').attr('id');*/
        var id= this.id;
        var q=50;
        $(".pop-div").css("margin-top", (q-q/10)+"%");

        $('.pop-div').slideToggle(300);
        /*$(".pop-div").css("overflow", "initial")*/

       /* $(this).siblings('.pop-div').slideToggle(300);*/
    })});</script>
</body>
</html>