<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Основные направления подготовки</title>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.png">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/light.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/trends.css">
    <link rel='stylesheet' href='/css/nprogress.css'/>
</head>

<body style="background-color: #ededf1 !important;">
 <div id="content" class="trends text_shadow">
     <div class="back_img"><a href="/main" class="change"></a> </div>
     <div class="container-fluid" >
         <div class="row" style="background: url(../images/home-page/Layer/matob.jpg);background-size: cover">
             <a href="/matob" class="transition">
             <div class="trend" >
               <img src="/images/home-page/matob.png" class="img-responsive"><p>Математическое обеспечение и администрирование информационных систем</p>
             </div>
             </a>
         </div>

         <div class="row" style="background: url(../images/home-page/Layer/IVT.jpg);background-size: cover">
             <a href="/IVT" class="transition">
             <div class="trend" >
                 <img src="/images/home-page/IVT.png" class="img-responsive"><p>ИНФОРМАТИКА И ВЫЧИСЛИТЕЛЬНАЯ ТЕХНИКА</p>
             </div>
             </a>
         </div>

         <div class="row" style="background: url(../images/home-page/Layer/IST.jpg);background-size: cover">
             <a href="/IST" class="transition">
             <div class="trend" >
                 <img src="/images/home-page/IST.png" class="img-responsive"><p>Информационные системы и технологии</p>
             </div>
             </a>
         </div>
         <div class="row" style="background: url(../images/home-page/Layer/prikladInfo.jpg);background-size: cover" >
             <a href="/prikladInfo" class="transition">
             <div class=" trend" >
                 <img src="/images/home-page/prikladInfo.png" class="img-responsive"><p>Прикладная информатика</p>
             </div>
             </a>
         </div>
         <div class="row" style="background: url(../images/home-page/Layer/PI.jpg);background-size: cover">
             <a href="/PI" class="transition">
             <div class=" trend" >
                 <img src="/images/home-page/PI.png" class="img-responsive"><p>Программная инженерия</p>
             </div>
             </a>
         </div>
         <div class="row" style="background-image: url(../images/home-page/Layer/uits.jpg);background-size: cover">
             <a href="/uits" class="transition">
             <div class=" trend" >
                 <img src="/images/home-page/uits.png" class="img-responsive"><p>Управление и информатика в технических системах</p>
             </div>
             </a>
         </div>
         <div class="row" style="background: url(../images/home-page/Layer/Innovatika.jpg);background-size: cover">
             <a href="/innovatika" class="transition">
             <div class="trend" >
                 <img src="/images/home-page/Innovatika.png" class="img-responsive"><p>Инноватика</p>
             </div>
             </a>
         </div>
         <div class="row" style="background: url(../images/home-page/Layer/RSO.jpg);background-size: cover">
             <a href="/RSO" class="transition">
             <div class="trend">
                 <img src="/images/home-page/RSO.png" class="img-responsive"><p>Реклама и связь с общественностью</p>
             </div>
             </a>
         </div>
         <div class="row lastrow"  style="background: url(../images/home-page/Layer/BuisnessInfo.jpg);background-size: cover">
             <a href="/BI" class="transition">
             <div class="trend" >
                 <img src="/images/home-page/BuisnessInfo.png" class="img-responsive"><p>Бизнес информатика</p>
             </div>
             </a>
         </div>
     </div>
 </div>
<div class="background_img"><img src="/images/home-page/network.png"></div>

 <script src="/js/jquery.min.js"></script>
 <script type="text/javascript">
     $(document).ready(function() {
         var hash = window.location.hash.substr(1);
         var href = $('#content a').each(function(){
             var href = $(this).attr('href');
             if(hash===href.substr(0,href.length)){
                 var toLoad = hash+' #content';
                 $('#content').load(toLoad)
             }
         });

         $('#content a').click(function(){
             if($(this).attr('href')==='/main'){return true}
                 if($(this).attr('href')!=='/mainTrend'){
                    resizeY();
                 }
             var toLoad = $(this).attr('href')+' #content';
             $('#content').hide('fast',loadContent);
             window.location.hash =$(this).attr('href');
             function loadContent() {
                 $('#content').load(toLoad,'',showNewContent())
             }
             function showNewContent() {
                 $('#content').show('normal',hideLoader());
             }
             function hideLoader() {
                 $('.version').text(NProgress.version);
                 NProgress.start();
                 setTimeout(function() { NProgress.done(); $('.fade').removeClass('out'); }, 1000);
             }
             function resizeY(){
                 var img = $('.background_img img');
                 var con = img.parents('.background_img');
                 var marginy=(img.height()-con.height())/-2;
                 img.animate({
                     marginTop: "+=" + marginy/2 + "px",
                     height: "+=35%"
                 }, 5000, function () {
                 });
             }
             return false;
         });
     });
 </script>
<!-- Javascript -->
 <script>
     jQuery(function ($) {
         function fix_size() {
             var images = $('.background_img img');
             images.each(setsize);

             function setsize() {
                 var img = $(this),
                     img_dom = img.get(0),
                     container = img.parents('.background_img');
                 if (img_dom.complete) {
                     resize();
                 } else img.one('load', resize);

                 function resize() {
                     if ((container.width() / container.height()) > (img_dom.width / img_dom.height)) {
                         img.width('100%');
                         img.height('100%');
                     } else {
                         img.height('100%');
                         img.width('100%');
                     }
                     var marginx=(img.width()-container.width())/-2,marginy=(img.height()-container.height())/-2;
                     img.css({ 'margin-left': marginx});
                 }
             }
         }
         $(window).on('resize', fix_size);
         fix_size();
     });
 </script>

<script src="/js/bootstrap.min.js"></script>
 <script src='/js/nprogress.js'></script>
 <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

</body>
</html>