<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Программная инженерия</title>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.png">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/light.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/trends.css">
    <link rel='stylesheet' href='/css/nprogress.css'/>
    <script src='/js/particles.min.js'></script>
</head>

<body style="background-color: #ededf1 !important;">
<div id="particles-js"></div>
<script>
    /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
    particlesJS.load('particles-js', '/assets/particles.json', function() {
        console.log('callback - particles.js config loaded');
    });
</script>
<div id="content" class="trends text_shadow" th:utext="${piHTMLStructure.getHtmlCode()}"></div>
<!-- Javascript -->
<script src="/js/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        if($("#particles-js .back_img").hasClass("back_img")) {
            $("#particles-js .back_img").addClass( "hiddenn");
            $("#particles-js .back_img").removeClass( "back_img");
        }
        if($("#particles-js .container-fluid").hasClass("container-fluid")) {
            $("#particles-js .container-fluid").addClass( "hiddenn");
            $("#particles-js .container-fluid").removeClass( "container-fluid");}
        if($("#particles-js .only_one_trend").hasClass("only_one_trend"))
        {
            $("#particles-js .only_one_trend").addClass( "hiddenn");
            $("#particles-js .only_one_trend").removeClass( "only_one_trend");
        }
        var hash = window.location.hash.substr(1);
        var href = $('#content a').each(function(){
            var href = $(this).attr('href');
            if(hash===href.substr(0,href.length)){
                var toLoad = hash+' #content';
                $('#content').load(toLoad)
            }
        });

        $('#content a').click(function(){
            if($(this).attr('href')==='/main'){return true}
            var toLoad = $(this).attr('href')+' #content';
            $('#content').hide('fast',loadContent);
            function loadContent() {
                $('#content').load(toLoad,'',showNewContent())
            }
            function showNewContent() {
                $('#content').show('normal',hideLoader());
            }
            function hideLoader() {
                $('.version').text(NProgress.version);
                NProgress.start();
                setTimeout(function() { NProgress.done(); $('.fade').removeClass('out'); }, 1000);
            }
            return false;
        });
    });
</script>
<script src="/js/bootstrap.min.js" defer></script>
<script src='/js/nprogress.js' defer></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js" defer></script>

</body>
</html>