<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:utext="${searchHead.getHtmlCode()}"></head>
<body class="index2">

<div id="wrapper" class="wrapper">
    <!-- HEADER -->
    <div th:replace="templates :: headerUser"></div>
    <div th:insert="templates :: headerUserInsertSearch"></div>

    <h2 class="page_header2 text-center">Результаты поиска</h2>

    <section id="content" th:if="${resultSearch.size()!=0}">
        <div class="shortcontain">
        <div th:each="item : ${resultSearch}">
            <div class="row" style="padding-bottom: 10px">
            <a th:href="${item.getUrl()}"><h3 style="padding-bottom: 15px" th:text="${item.getTitle()}"></h3></a>
            <p th:text="${item.getText()}"></p>
            </div>
            <div class="blog-sep" style="padding-bottom: 20px"></div>
        </div>
        </div>
    </section>
    <section id="content" th:if="${resultSearch.size()==0}">
        <div class="shortcontain">
                <div class="row" style="padding-bottom: 100px; text-align: center">
                    <h2 class="page_header2">По Вашему запросу нам не удалось найти никакой информации.</h2>
                </div>
        </div>
    </section>
    <div class="clearfix space70"></div>
    <!-- FOOTER -->
    <div th:replace="templates :: footerUser"></div>
    <!-- FOOTER -->
</div>

<div th:replace="templates :: footerUserInsertMap"></div>

<!-- Javascript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/classie.min.js"></script>
<script src="/js/superfish/js/hoverIntent.js"></script>
<script src="/js/superfish/js/superfish.js"></script>
<script src="/js/dialogFx.min.js"></script>
<script src="/js/dialog-js.min.js"></script>
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous" defer></script>
<script src="/js/gmap2.min.js"></script>
<script src="/js/script.min.js"></script>
</body>
</html>