<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerAdmin" id="header2">
    <div class="container">
        <div class="row">
            <h2 class="text-center padding5p">Меню администратора</h2>
        </div>
        <div class="menu-wrap">
            <div id="mobnav-btn">Меню</div>
            <ul class="sf-menu">
                <li>
                    <a class="list-to-a" href="#">Страницы</a>
                    <div class="mobnav-subarrow"></div>
                    <ul class="is-s">
                        <li>
                            <a href="/admin/page/menuItem/add">Элементы меню</a>
                            <!--<ul>
                                <li><a href="/admin/page/menuItem/add">Добавить меню в загаловках сайта</a></li>
                            </ul>-->
                        </li>
                        <li>
                            <a href="/admin/page/htmlStructure/update">Структура сайта</a>
                            <!--<ul>
                                <li><a href="/admin/page/menuItem/add">Добавить меню в загаловках сайта</a></li>
                            </ul>-->
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="sf-menu">
                <li>
                    <a class="list-to-a" href="#">Контент</a>
                    <div class="mobnav-subarrow"></div>
                    <ul class="is-s">
                        <li>
                            <a class="sf-with-ul" href="/admin/content/news">Новости факультета</a>
                            <ul class="is-s">
                                <li><a href="/admin/content/news/add">Добавить новость</a></li>
                                <li><a href="/admin/content/news">Редактировать новость</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/admin/content/bestStudents">Лучшие студенты</a>
                            <ul class="is-s">
                                <li><a href="/admin/content/bestStudents/add">Добавить студента</a></li>
                                <li><a href="/admin/content/bestStudents/">Редактировать студента</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/admin/content/curator/">Кураторы групп</a>
                        </li>
                        <li>
                            <a href="/admin/content/candidateAssignment/">Кандидаты на отчисление</a>
                        </li>
                        <li>
                            <a href="/admin/content/diplomas/">Дипломы</a>
                        </li>
                        <li>
                            <a href="/admin/content/files/add">Файлы</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="sf-menu">
                <li>
                    <a class="list-to-a" href="#">Таблицы</a>
                    <div class="mobnav-subarrow"></div>
                    <ul class="is-s">
                        <li>
                            <a href="#">Картинки</a>
                            <ul class="is-s">
                                <li><a href="/admin/table/picture/bestStudent/update">Лучшие студенты</a></li>
                                <li><a href="/admin/table/picture/topicFaculty/update">Новости</a></li>
                                <li><a href="/admin/table/picture/deanTeam/update">Состав деканата</a></li>
                                <li><a href="/admin/table/picture/department/update">Состав кафедры</a></li>
                                <li><a href="/admin/table/picture/diploma/update">Диломы</a></li>
                                <li><a href="/admin/table/picture/other/update">Разное</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Элементы меню</a>
                            <ul class="is-s">
                                <li><a href="/admin/table/menuItem/headers/update">Меню</a></li>
                                <li><a href="/admin/table/menuItem/labels/update">Загаловки</a></li>
                                <li><a href="/admin/table/menuItem/statistic/update">Статиситика</a></li>
                                <li><a href="/admin/table/menuItem/educationProcess/update">Учебный процесс</a></li>
                                <li><a href="/admin/table/menuItem/navigation/update">Навигатор</a></li>
                            </ul>
                        </li>
                        <li><a href="/admin/table/bestStudent/update">Лучшие студенты</a></li>
                        <li><a href="/admin/table/educationProcess/update">Учебный процесс</a></li>
                        <li><a href="/admin/table/employee/update">Сотрудники</a></li>
                        <li><a href="/admin/table/department/update">Департаменты</a></li>
                        <li><a href="/admin/table/newsOfFaculty/update">Новости</a></li>
                        <li><a href="/admin/table/files/update">Файлы</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="sf-menu">
                <li>
                    <a class="list-to-a"  href="#">Пользователи</a>
                    <div class="mobnav-subarrow"></div>
                    <ul class="is-s">
                        <li><a href="/admin/user/cms">Список администраторов</a></li>
                        <li><a href="/admin/user/subscriber">Список подписчиков</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="sf-menu">
                <li>
                    <a class="list-to-a" href="#">Настройка</a>
                    <div class="mobnav-subarrow"></div>
                    <ul class="is-s">
                        <li><a href="/admin/setting/profile">Мой профиль</a></li>
                        <li><a href="/admin/setting/cash">Обновить кеш на сервере</a></li>
                    </ul>
                </li>
            </ul>
            <div class="logo-exit">
                <a href="/logout"><img src="/images/exit.png" class="img-responsive" title="Выход" alt="Выход"/></a>
            </div>
        </div>
    </div>
</header>

<!-- HEADER -->
<header th:fragment="headerUser" id="header" class="color-silver">
    <div class="container">
        <div class="row">
            <div class="logo-psuti" style="margin: 10px;">
                <a th:object="${logotipFIST}" th:href="${logotipFIST.getHref()}" th:style="${logotipFIST.getStyles()}"><img th:src="@{'/main/picture/' + ${logotipFIST.getId()}}" class="img-responsive" alt=""/></a>
            </div>
            <div class="col-md-9 col-xs-7">
                <div class="top-bar "style="width:100%;float:left; margin-right: 50px;">
                    <ul>
                        <li style="float: left;padding-right: 5px"><i class="fa fa-map-marker"></i></li>
                        <li th:utext="${location.getName()}" class="tb-info"  th:style="${location.getStyles()}"></li>

                        <li style="float: left;padding-right: 5px"><i class="fa fa-phone"></i></li>
                        <li class="tb-info"  style="float: left;color: black;padding-right:4%" th:object="${phone}" th:utext="${phone.getName()}" th:style="${phone.getStyles()}"></li>

                        <li style="float: left;padding-right: 5px"><i class="fa fa-envelope" style="float: left;padding-right: 5px"></i></li>
                        <li class="tb-info" style="float: left;color: black" th:object="${email}" th:utext="${email.getName()}" th:style="${email.getStyles()}"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="menu-wrap">
            <div class="row" style="margin-left: 5%;">
                <div th:object="${menuItemMobile}" th:utext="${menuItemMobile.getName()}" th:style="${menuItemMobile.getStyles()}" id="mobnav-btn"></div>
                <ul class="sf-menu" th:each="mapEntry : ${menuItems}">
                    <li>
                        <a class="list-to-a" th:object="${mapEntry.key}" th:href="${mapEntry.key.getUrlHref()}" th:utext="${mapEntry.key.getName()}"></a>
                        <div class="mobnav-subarrow"></div>
                        <ul class="is-s">
                            <div class="bord" th:each="menuItemMinor : ${mapEntry.value}">
                                <li th:each="menuItemHeaderInMainPage : ${menuItemMinor}">
                                    <a th:href="${menuItemHeaderInMainPage.getUrlHref()}" th:utext="${menuItemHeaderInMainPage.getName()}" th:style="${menuItemHeaderInMainPage.getStyles()}"></a>
                                </li>
                            </div>
                        </ul>
                    </li>
                </ul>
                <div class="logo-psuti admin" style=" float:right; margin: 15px 15px 0 0; ">
                    <a onclick="searchFunc()"><img src="/images/search.png" class="img-responsive img-nohidden" alt=""/></a>
                </div>
                <div class="logo-psuti" style=" float:right; margin: 15px 15px 0 0; ">
                    <a href="/main" th:object="${logotipPSUTI}"><img th:src="@{'/main/picture/' + ${logotipPSUTI.getId()}}"  class="img-responsive" alt=""/></a>
                </div>
            </div>
        </div>
    </div>
</header>
<div th:fragment="headerUserInsertSearch" id="search" class="other-pages-search">
    <form th:action="${'/search'}" th:object="${searchword}" class="search-block ">
        <button class="search-button " type="submit">Поиск</button>
        <input class="search-input " name="searchword" type="text" placeholder="Поиск...">
    </form>
</div>

<footer th:fragment="footerUser" id="footer2">
    <div class="container">
        <div class="row" style="padding-left: 5%">
            <div class="col-md-2">
                <h3 th:utext="${ItemHeader8.getName()}" th:style="${ItemHeader8.getStyles()}"></h3>
                <div class="top-bar">
                    <ul>
                        <li class="tb-info">
                            <a data-dialog2="somedialog2" class="trigger">
                                <i class="fa fa-map-marker"></i>
                                <span class="navigation-YK">Мы находимся <br><em class="navigation-YK">Яндекс карты</em></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <h3 th:utext="${ItemHeader9.getName()}" th:style="${ItemHeader9.getStyles()}"></h3>
                <p th:utext="${ItemHeader9_1.getName()}" th:style="${ItemHeader9_1.getStyles()}"></p>
                <form id="form_id" onsubmit="javascript:return validate('form_id','email');" th:action="${'/user/add/subscriber'}" th:object="${username}" class="newsletter">
                    <input id="email" name="username" type="email" th:placeholder="${ItemHeader9_2.getName()}" th:style="${ItemHeader9_2.getStyles()}">
                    <button id="validate" type="submit" value="submit"><i class="fa fa-paper-plane"></i></button>
                </form>
                <p id="result"></p>
            </div>

            <!--<div class="col-md-3">
                <h3 th:text="${ItemHeader9.getName()}"></h3>
                <ul class="f-news">
                    <li th:each="subtitle : ${subtitles}">
                        <a th:href="${subtitle.getUrlHref()}" th:text="${subtitle.getName()}"><i class="fa fa-angle-right"></i></a>
                    </li>
                </ul>
            </div>-->

            <div class="col-md-3">
                <h3 th:utext="${ItemHeader10.getName()}" th:style="${ItemHeader10.getStyles()}"></h3>
                <div class="site-fist"> <a th:href="${ItemHeader10_1.getUrlHref()}" th:title="${ItemHeader10_1.getName()}" th:style="${ItemHeader10_1.getStyles()}"><img th:src="@{'/main/picture/' + ${ItemHeader10_1.getIdPicture()}}" class="img-responsive" alt="" ></a> </div>
                <div class="site-fist"> <a th:href="${ItemHeader10_2.getUrlHref()}" th:title="${ItemHeader10_2.getName()}" th:style="${ItemHeader10_2.getStyles()}"><img th:src="@{'/main/picture/' + ${ItemHeader10_2.getIdPicture()}}" class="img-responsive" alt="" ></a> </div>
                <div class="site-fist"> <a th:href="${ItemHeader10_3.getUrlHref()}" th:title="${ItemHeader10_3.getName()}" th:style="${ItemHeader10_3.getStyles()}"><img th:src="@{'/main/picture/' + ${ItemHeader10_3.getIdPicture()}}" class="img-responsive" alt="" ></a> </div>
            </div>

            <div class="col-md-3">
                <h3 th:utext="${ItemHeader12.getName()}" th:style="${ItemHeader12.getStyles()}"></h3>
                <div class="row">
                    <div class="big-logo"> <a th:href="${ItemHeader12_1.getUrlHref()}" th:title="${ItemHeader12_1.getName()}" th:style="${ItemHeader12_1.getStyles()}"><img th:src="@{'/main/picture/' + ${ItemHeader12_1.getIdPicture()}}" class="img-responsive" alt="" ></a> </div>
                </div>
                <div class="row" >
                    <div class="site-fist" > <a th:href="${ItemHeader12_2.getUrlHref()}" th:title="${ItemHeader12_2.getName()}" th:style="${ItemHeader12_2.getStyles()}"><img th:src="@{'/main/picture/' + ${ItemHeader12_2.getIdPicture()}}" class="img-responsive" alt="" ></a> </div>
                    <div class="site-fist" > <a th:href="${ItemHeader12_3.getUrlHref()}" th:title="${ItemHeader12_3.getName()}" th:style="${ItemHeader12_3.getStyles()}"><img th:src="@{'/main/picture/' + ${ItemHeader12_3.getIdPicture()}}" class="img-responsive" alt="" ></a> </div>
                    <div class="site-fist" > <a th:href="${ItemHeader12_4.getUrlHref()}" th:title="${ItemHeader12_4.getName()}" th:style="${ItemHeader12_4.getStyles()}"><img th:src="@{'/main/picture/' + ${ItemHeader12_4.getIdPicture()}}" class="img-responsive" alt="" ></a> </div>
                    <div class="site-fist" > <a th:href="${ItemHeader12_5.getUrlHref()}" th:title="${ItemHeader12_5.getName()}" th:style="${ItemHeader12_5.getStyles()}"><img th:src="@{'/main/picture/' + ${ItemHeader12_5.getIdPicture()}}" class="img-responsive" alt="" ></a> </div>
                    <div class="site-fist" > <a th:href="${ItemHeader12_6.getUrlHref()}" th:title="${ItemHeader12_6.getName()}" th:style="${ItemHeader12_6.getStyles()}"><img th:src="@{'/main/picture/' + ${ItemHeader12_6.getIdPicture()}}" class="img-responsive" alt="" ></a> </div>
                </div>
            </div>
            <!--<div class="col-md-3">
                <img th:src="${logotip.getUrlPicture()}" class="img-responsive" alt=""/>
            </div>-->
        </div>
    </div>
    <div class="footer-bottom container">
        <div class="row">
            <div class="col-md-10">
                <p th:utext="${ItemHeader11.getName()}" th:style="${ItemHeader11.getStyles()}"></p>
                <a href="/rssFeed" style="text-decoration: underline !important; float: right"><p class="blue_p">RSS канал</p> </a>
            </div>
        </div>
    </div>
</footer>


<div th:fragment="footerUserInsertMap" id="somedialog2" class="dialog">
    <div class="dialog__overlay"></div>
    <div class="dialog__content">
        <div class="contact-pop">
            <div class="row">
                <div class="col-md-6">
                    <div id="map"></div>
                </div>
                <div class="col-md-6 pop-contact">
                    <ul class="contact-info">
                        <li>
                            <p><strong th:utext="${DialogItem2.getName()}" th:style="${DialogItem2.getStyles()}"><i class="fa fa-map-marker"></i></strong> <span th:utext="${DialogItem2_1.getName()}" th:style="${DialogItem2_1.getStyles()}"></span></p>
                        </li>
                        <li>
                            <p><strong th:utext="${DialogItem3.getName()}" th:style="${DialogItem3.getStyles()}"><i class="fa fa-envelope"></i></strong> <span><a th:utext="${DialogItem3_1.getName()}" th:style="${DialogItem3_1.getStyles()}" th:href="${DialogItem3_1.getUrlHref()}"></a></span></p>
                        </li>
                        <li>
                            <p><strong th:utext="${DialogItem4.getName()}" th:style="${DialogItem4.getStyles()}"><i class="fa fa-phone"></i></strong> <span th:utext="${DialogItem4_1.getName()}" th:style="${DialogItem4_1.getStyles()}"></span></p>
                        </li>
                    </ul>
                </div>
            </div>
            <button class="action b-close" data-dialog-close ><i class="fa fa-times"></i></button>
        </div>
    </div>
</div>


</html>