<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerAdmin" id="header2">
    <div class="container">
        <div class="row">
            <h2 class="text-center padding5p">Меню администратора</h2>
        </div>
        <div class="menu-wrap">
            <div id="mobnav-btn">Меню</div>
            <ul class="sf-menu">
                <li>
                    <a href="#">Страницы</a>
                    <div class="mobnav-subarrow"></div>
                    <ul>
                        <li>
                            <a href="/admin/page/menuItem/add">Элементы меню</a>
                            <div class="mobnav-subarrow"></div>
                            <!--<ul>
                                <li><a href="/admin/page/menuItem/add">Добавить меню в загаловках сайта</a></li>
                            </ul>-->
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Контент</a>
                    <div class="mobnav-subarrow"></div>
                    <ul>
                        <li>
                            <a class="sf-with-ul" href="/admin/news">Новости факультета</a>
                            <div class="mobnav-subarrow"></div>
                            <ul>
                                <li><a href="/admin/news/add">Добавить новость</a></li>
                                <li><a href="/admin/news">Редактировать новость</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/admin/bestStudents">Лучшие студенты</a>
                            <div class="mobnav-subarrow"></div>
                            <ul>
                                <li><a href="/admin/bestStudents/add">Добавить студента</a></li>
                                <li><a href="/admin/bestStudents/">Редактировать студента</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/admin/content/curator/">Кураторы групп</a>
                            <div class="mobnav-subarrow"></div>
                        </li>
                        <li>
                            <a href="/admin/content/candidateAssignment/">Кандидаты на отчисление</a>
                            <div class="mobnav-subarrow"></div>
                        </li>
                        <li>
                            <a href="/admin/content/diplomas/">Дипломы</a>
                            <div class="mobnav-subarrow"></div>
                        </li>
                        <li>
                            <a href="/admin/content/files/add">Файлы</a>
                            <div class="mobnav-subarrow"></div>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#">Таблицы</a>
                    <div class="mobnav-subarrow"></div>
                    <ul>
                        <li>
                            <a href="#">Картинки</a>
                            <div class="mobnav-subarrow"></div>
                            <ul>
                                <li><a href="/admin/table/picture/bestStudent/update">Лучшие студенты</a></li>
                                <li><a href="/admin/table/picture/topicFaculty/update">Новости</a></li>
                                <li><a href="/admin/table/picture/deanTeam/update">Состав деканата</a></li>
                                <li><a href="/admin/table/picture/department/update">Состав кафедры</a></li>
                                <li><a href="/admin/table/picture/diploma/update">Диломы</a></li>
                                <li><a href="/admin/table/picture/other/update">Разное</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Элементы меню</a>
                            <div class="mobnav-subarrow"></div>
                            <ul>
                                <li><a href="/admin/table/menuItem/headers/update">Меню</a></li>
                                <li><a href="/admin/table/menuItem/labels/update">Загаловки</a></li>
                                <li><a href="/admin/table/menuItem/statistic/update">Статиситика</a></li>
                                <li><a href="/admin/table/menuItem/educationProcess/update">Учебный процесс</a></li>
                                <li><a href="/admin/table/menuItem/navigation/update">Навигатор</a></li>
                            </ul>
                        </li>
                        <li><a href="/admin/table/bestStudent/update">Лучшие студенты</a></li>
                        <li><a href="/admin/table/educationProcess/update">Учебный процесс</a></li>
                        <li><a href="/admin/table/employee/update">Сотрудники</a></li>
                        <li><a href="/admin/table/department/update">Департаменты</a></li>
                        <li><a href="/admin/table/newsOfFaculty/update">Новости</a></li>
                        <li><a href="/admin/table/files/update">Файлы</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#">Пользователи</a>
                    <div class="mobnav-subarrow"></div>
                    <ul>
                        <li><a href="/admin/user/cms">Список администраторов</a></li>
                        <li><a href="/admin/user/subscriber">Список подписчиков</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Настройка</a>
                    <div class="mobnav-subarrow"></div>
                    <ul>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>
</html>