<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:utext="${topicHead.getHtmlCode()}"></head>
<body class="multi-page">

<div id="wrapper" class="wrapper">
    <!-- HEADER -->
    <div th:replace="templates :: headerUser"></div>
    <div th:insert="templates :: headerUserInsertSearch"></div>

    <!-- INNER CONTENT -->
    <section id="content">
        <div class="content-blog">
            <div class="container ">
                <div class="col-md-7 col-md-offset-2">
                    <div th:object="${topic}">
                        <article class="blogpost">
                            <div class="img-container">
                                <img th:src="@{'/main/picture/' + ${topic.getIdPicture()}}" class="img-responsive" alt="">
                            </div>
                            <h2 class="post-title"><a th:utext="${topic.getHeading()}"></a></h2>
                            <div class="post-meta">
                                <i class="fa fa-calendar" style="padding-right: 2%"></i><span><a th:utext="${topic.getDate().toLocalDate()}"><i class="fa fa-calendar"></i></a></span>
                            </div>
                            <div class="post-excerpt">
                                <p th:utext="${topic.getText()}"></p>
                            </div>
                        </article>

                        <div class="blog-sep"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="clearfix space70"></div>
    <!-- FOOTER -->
    <div th:replace="templates :: footerUser"></div>
    <!-- FOOTER -->
</div>

<div th:replace="templates :: footerUserInsertMap"></div>

<!-- Javascript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/superfish/js/hoverIntent.js"></script>
<script src="/js/superfish/js/superfish.min.js"></script>
<script src="/js/dialogFx.min.js"></script>
<script src="/js/dialog-js.min.js"></script>
<script src="/js/classie.min.js"></script>
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous" defer></script>
<script src="/js/gmap2.min.js"></script>
<script src="/js/script.min.js"></script>
<script>
    jQuery(function ($) {
        function fix_size() {
            var images = $('.img-container img');
            images.each(setsize);

            function setsize() {
                var img = $(this),
                    img_dom = img.get(0),
                    container = img.parents('.img-container');
                if (img_dom.complete) {
                    resize();
                } else img.one('load', resize);

                function resize() {
                    if ((container.width() / container.height()) > (img_dom.width / img_dom.height)) {
                        img.width('100%');
                        img.height('auto');
                    } else {
                        img.height('100%');
                        img.width('auto');
                    }
                    var marginy=(img.height()-container.height())/-2;

                    img.css({ 'margin-top': marginy});
                    img.animate({opacity:'1'}, "swing");

                }
            }
        }
        $(window).on('resize', fix_size);
        fix_size();
    });</script>
<script>
    var someimage = document.getElementById('content');
    var myimgs = someimage.getElementsByTagName('img');
    var mysrc;
    var i;
    var parent;
    for(i=0;i<myimgs.length;i++){
        mysrc=myimgs[i].src;
        if((mysrc.charAt(mysrc.length-2)==='/') && (mysrc.charAt(mysrc.length-1)==='0')){
            parent=myimgs[i].parentNode;
            parent.style.display='none';
        }
    }
</script>
<script type="text/javascript">
    var opac=0;
    function searchFunc() {
        var elements=document.getElementsByClassName('other-pages-search');
        if (elements.length>0){
            if(opac===0){
                opac++;
                pull(elements[0]);
            } else {
                opac--;
                push(elements[0]);
            }
        }
        function pull(el){
            var img = $('.other-pages-search');
            var marginx=(img.width()+100)/-1;
            img.animate({
                marginLeft: "+=" + marginx + "px",
                opacity: "+=1"
            }, 1500, function () {
            });
        }
        function push(el){
            var img = $('.other-pages-search');
            var marginx=(img.width()+100)/1;
            img.animate({
                marginLeft: "+=" + marginx + "px",
                opacity: "+=1"
            }, 1500, function () {
            });
        }
    }
</script>
</body>
</html>