<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias alias="MenuItemHeaderInMainPage" type="website.psuti.fist.model.MenuItemHeaderInMainPage"/>
        <typeAlias alias="Pictures" type="website.psuti.fist.model.Pictures"/>
        <typeAlias alias="EducationProcess" type="website.psuti.fist.model.EducationProcess"/>
        <typeAlias alias="BestStudent" type="website.psuti.fist.model.BestStudent"/>
        <typeAlias alias="NewsOfFaculty" type="website.psuti.fist.model.NewsOfFaculty"/>
        <typeAlias alias="Employee" type="website.psuti.fist.model.Employee"/>
        <typeAlias alias="Department" type="website.psuti.fist.model.Department"/>
        <typeAlias alias="File" type="website.psuti.fist.model.File"/>
        <typeAlias alias="CandidateAssignment" type="website.psuti.fist.model.CandidateAssignment"/>
        <typeAlias alias="Curator" type="website.psuti.fist.model.Curator"/>
        <typeAlias alias="HTMLStructurePage" type="website.psuti.fist.model.HTMLStructurePage"/>
    </typeAliases>

    <mappers>
        <mapper resource="mapper/MenuItemHeaderInMainPage.xml"/>
        <mapper resource="mapper/Pictures.xml"/>
        <mapper resource="mapper/EducationProcess.xml"/>
        <mapper resource="mapper/BestStudent.xml"/>
        <mapper resource="mapper/NewsOfFaculty.xml"/>
        <mapper resource="mapper/Employee.xml"/>
        <mapper resource="mapper/Department.xml"/>
        <mapper resource="mapper/File.xml"/>
        <mapper resource="mapper/CandidateAssignment.xml"/>
        <mapper resource="mapper/Curator.xml"/>
        <mapper resource="mapper/HTMLStructurePage.xml"/>
    </mappers>
</configuration>